<div class="row">
    <div class="col-sm-12 padding-xs-0 ">
        <ul class="list-inline radian-conventions">
            <li class="list-inline-item"><img src="../../Content/images/Svg/Loaded.svg">Cargado y en revisión </li>
            <li class="list-inline-item"><i class="fa fa-check-circle"></i>Aprobado</li>
            <li class="list-inline-item"><i class="fa fa-times-circle"></i>Rechazado</li>
            <li class="list-inline-item"><i class="fa fa-info-circle"></i>Observaciones</li>
        </ul>
    </div>
</div>