@model Gosocket.Dian.Web.Models.RadianApproved.RadianApprovedViewModel

<div>
    <h3 class="panel-title-radian padding-0">Listado de representantes legales asociados</h3>
    
</div>

<div class="table-responsive">
    <table id="table-users" class="table-contributor table table-striped table-hover simple-table align-middle margin-bottom-0" data-int="0">
        <thead>
            <tr>
                <th>NIT</th>
                <th>Nombre</th>
                <th>Correo electrónico</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.LegalRepresentativeList)
            {
                <tr>
                    <td class="text-nowrap"><a>@user.Code</a></td>
                    <td class="text-nowrap"><a>@user.Name</a></td>
                    <td class="text-nowrap"><a>@user.Email</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

