@model Gosocket.Dian.Web.Models.TestSetOthersDocumentsViewModel

@Html.HiddenFor(m => m.TestSetId)
@Html.HiddenFor(m => m.Active)
@Html.HiddenFor(m => m.CreatedBy) 

<div class="panel-body padding-20 padding-bottom-10">
    @Html.Partial("_default")
</div>