@using Gosocket.Dian.Web.Common

@{
    if (User.IsInAnyRole("Administrador", "Super"))
    {
        ViewBag.Title = "Configurar set de pruebas - Otros documentos";
    }
    else
    {
        ViewBag.Title = "Listado sets de pruebas - Otros documentos";
    }
}

@section css
{
    <!--Bootstrap Select [ OPTIONAL ]-->
    <link href="~/Content/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/Content/plugins/chosen/chosen.min.css" rel="stylesheet">
    <style>
        .btn-success:focus, .btn-hover-success:active, .btn-hover-success.active, .btn.btn-active-success:active, .btn.btn-active-success.active, .dropdown.open > .btn.btn-active-success, .btn-group.open .dropdown-toggle.btn.btn-active-success {
            background-color: #348441 !important;
            border-color: #348441 !important;
            color: #fff !important;
        }

        .btn-success:hover, btn-radian-success:hover {
            background-color: #62C7AB;
            background: #62C7AB;
            border-color: #62C7AB;
            color: #fff;
        }

        .tableSinBorders{
            border: hidden;
        }

    </style>
}

<div class="page-content margin-15">
    
    <div class="row margin-horizontal-0" style="margin-top: 37px;">
        <div class="tab-base">
            <div class="tab-content padding-0">
                <div id="tab-current-country" class="tab-pane fade active in">
                    <div class="panel">

                        <div class="panel-body padding-top-20">
                            <div class="padding-0 padding-bottom-30">
                                @if (User.IsInAnyRole("Administrador", "Super"))
                                {
                                    <div class="form-inline padding-bottom-0">
                                        <div class="row margin-horizontal-0">
                                            <div class="col-md-12 table-toolbar-left padding-left-0 button-top-left-radian">
                                                <a href="@Url.Action("Add", "TestSetOthersDocuments")" class="btn btn-success btn-radian-success pull-left">Configurar Nuevo Set de Pruebas</a>
                                            </div>

                                            <div class="col-md-2 table-toolbar-right padding-right-0">

                                            </div>
                                        </div>
                                    </div>
                                }

                                @Html.Partial("_items")

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <!--Bootstrap Select [ OPTIONAL ]-->
    <script src="~/Content/plugins/bootstrap-select/bootstrap-select.min.js"></script>

    <script src="~/Content/js/bootstrap-filestyle.min.js"></script>
    <script src="~/Content/js/file-validator.js"></script>

}