@model Gosocket.Dian.Web.Models.RadianContributorFileTypeViewModel

@{
    ViewBag.Title = "Eliminar tipo de fichero";
}

@using (Html.BeginForm("Delete", "RadianContributorFileType", FormMethod.Post, new { id = "delete-radianContributorFileType-form" }))
{
    @Html.HiddenFor(model => model.Id)
    <div class="modal-body">
        <h4 style="color: #348441">
            ¿Está seguro que desea eliminar el fichero '@Html.DisplayTextFor(m => m.Name)' perteneciente al participante '@Html.DisplayTextFor(m => m.RadianContributorType.Name)'?
        </h4>
        <br />
        <br />
        <div class="row">
            <div class="col-xs-6">
                <button type="submit" class="btn btn-primary btn-radian-success" style="margin-left: 20vh">Aceptar</button>
            </div>
            <div class="col-xs-6">
                <button type="button" class="btn btn-secondary btn-radian-success" style="margin-left: 10vh" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function ($) {

            var form = $('#delete-radianContributorFileType-form');

            $("#label-check").click(function () {
                var check = $("#label-check");
                if (!check.hasClass("active")) {
                    check.addClass("active");
                    $("#Mandatory").val(true);
                } else {
                    check.removeClass("active");
                    $("#Mandatory").val(false);
                }
            });

            $('.btn-save').click(function () {
                if (form.valid()) {
                    showLoading('#panel-form', 'Guardando', 'Procesando datos, por favor espere.');
                    form.submit();
                }
            });
        });

    </script>
}
