@model Gosocket.Dian.Web.Models.ContributorFileTypeViewModel

@{
    ViewBag.Title = "Agregar tipo de fichero";
}

<div class="page-content margin-15">
    <div class="row margin-horizontal-0">
        <div class="panel">
            <div class="panel-body padding-top-20">
                <div class="row margin-horizontal-0">
                    <div id="panel-form" data-target="#panel-form" data-toggle="panel-overlay" class="panel panel-bordered-dian margin-bottom-0">
                        @using (Html.BeginForm("Add", "ContributorFileType", FormMethod.Post, new { id = "add-contributorFileType-form" }))
                        {
                            @Html.Partial("_form")
                        <div class="text-left">
                            <button type="button" class="btn btn-primary btn-hover-gosocket btn-save">Guardar</button>
                            <a href="@Url.Action("List", "ContributorFileType")" class="btn btn-secondary">Volver</a>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function ($) {

            var form = $('#add-contributorFileType-form');

            $("#label-check").click(function () {
                var check = $("#label-check");
                if (!check.hasClass("active")) {
                    check.addClass("active");
                    $("#Mandatory").val(true);
                } else {
                    check.removeClass("active");
                    $("#Mandatory").val(false);
                }
            });

            $('.btn-save').click(function () {
                if (form.valid()) {
                    showLoading('#panel-form', 'Guardando', 'Procesando datos, por favor espere.');
                    form.submit();
                }
            });
        });

    </script>
}
