@model Gosocket.Dian.Web.Models.ContributorFileTypeViewModel

@{
    ViewBag.Title = "Tipo de fichero";
}

<div class="page-content margin-15">
    <div class="row margin-horizontal-0">
        <div class="panel">
            <div id="panel-body" data-target="#panel-body" data-toggle="panel-overlay" class="panel-body padding-top-20">
                <div class="row margin-horizontal-0">
                    <div id="panel-form" data-target="#panel-form" data-toggle="panel-overlay" class="panel panel-bordered-dian margin-bottom-0">
                        @Html.Partial("_form")
                        <div class="text-left">
                            <a href="@Url.Action("List", "ContributorFileType")" class="btn btn-primary">Volver</a>
                            <a href="@Url.Action("Edit", "ContributorFileType", new { id = Model.Id })" class="btn btn-secondary btn-hover-gosocket">Editar</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function ($) {
            $('.contributorFileType-props').attr('readonly', true);

            if('@Model.Mandatory' === 'True'){
                $("#label-check").addClass('active');
            }

            $("#label-check").attr('disabled', true);
        });
    </script>
}
