<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="SqlConnection" connectionString="Server=tcp:hhlcgw9szg.database.windows.net,1433;Initial Catalog=sandbox_gosocket_dian;Persist Security Info=False;User ID=Adm_sandbox_gosocket@hhlcgw9szg;Password=4DMer45.w23;;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SqlConnection" value="Server=tcp:hhlcgw9szg.database.windows.net,1433;Initial Catalog=sandbox_gosocket_dian;Persist Security Info=False;User ID=Adm_sandbox_gosocket@hhlcgw9szg;Password=4DMer45.w23;;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <!--<add key="SqlConnection" value="Server=tcp:gtpa-sql-server-dev.database.windows.net,1433;Initial Catalog=gtpa-sql-dev;Persist Security Info=False;User ID=DBAdmin;Password=Password1$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />-->
    <add key="DianStorage" value="DefaultEndpointsProtocol=https;AccountName=sandboxgosocketdian;AccountKey=h6H/XE4PmPmX0TmP+XRi8+g5oUWi0ChBVq8XsG6xkUTowfLURXMlewV8quEVV4U8CUFpey3LqkyQMBcCJWP0IQ==;EndpointSuffix=core.windows.net" />
    <add key="GlobalStorage" value="DefaultEndpointsProtocol=https;AccountName=gtpastoragetest;AccountKey=tB4VgsIdcCxLH8/oGW8QuWzHmo35V1ks3s1+Lb4pkwxnVu458LMW0NtxJ4BYD+nBI1NyhdH3PoVbhtjo+KSbag==;EndpointSuffix=core.windows.net" />
    <add key="EventHubConnectionString" value="Endpoint=sb://colombia-eventhub-validadordian.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=oRcNGCeYWHuW3hBUgv0bXiAVYuWC1THGli90Xh67Tx0=" />
    <add key="AccountTwoFactorLoginCode" value="https://localhost:44300/AccountTwoFactor/LoginCode?Code=" />
    <add key="InvoicerLoginUrl" value="http://gtpa-web-billing-test.azurewebsites.net/account/ssodian?Token=" />

    <!--Functions-->
    <add key="GetValidationsByTrackIdUrl" value="https://global-function-docvalidator-sbx.azurewebsites.net/api/GetValidationsByTrackId?code=8QQb66PDafM0vkLjL2uIXZLP81QMp9qEODKQLBvYRGC9cpPAyTyNVw==" />
    <!--<add key="SendEmailFunctionUrl" value="https://colombia-function-dian-commons-prd.azurewebsites.net/api/EmailSender?code=Qx8OvngXRz43u6pmvkHdgQiEzA8lCDS7YImsVYwjoa3eFQSZ3alplA==" />-->
    <add key="SendEmailFunctionUrl" value="https://colombia-function-dian-commons-sbx.azurewebsites.net/api/EmailSender?code=l8DjQxrN0aZZVTOgd9GYuCI8s7hHEiTKNxqUR7KjX1lKIfnir4iPQg==" />
    <add key="GetPdfFunctionUrl" value="https://colombia-function-dian-commons-sbx.azurewebsites.net/api/GetPdf?code=q4Dd1zzjzTKDneHE1/ri31CVKjGPdjIpf3GsSbj6FDhCnm2SgxGpcg==" />
    <add key="DownloadXmlFunctionUrl" value="https://global-function-docvalidator-sbx.azurewebsites.net/api/DownloadXml?code=kSTvNZa67/ZL94n6JxiJ2tNPTD07SVWxGRR3zx53LcgS9LCdSYDq8Q==" />
    <!--Functions.SendEmailFunctionUrl.Config-->
    <add key="EmailApplicationName" value="Dian.Web" />
    <add key="EmailServer" value="mx01.einvoicing.signature-cloud.com" />
    <add key="EmailUser" value="salfa@einvoicing.signature-cloud.com" />
    <add key="EmailPassword" value="3US6kKm9kd" />
    <add key="EmailSender" value="salfa@einvoicing.signature-cloud.com" />
    <add key="EmailPort" value="587" />
    <!--Functions.SendEmailFunctionUrl.Config-->
    <!--Functions-->

    <add key="SendToActivateRadianOperationUrl" value="http://localhost:7071/api/SendToActivateRadianOperation"/>
    <add key="SendToActivateOtherDocumentContributorUrl" value="http://localhost:7071/api/SendToActivateOtherDocumentContributor"/>


    <!--Gadget Validador-->
    <add key="ValidatorReglas" value="https://global-gadget-docvalidator-sbx.azurewebsites.net/Category/" />
    <add key="ValidatorEsquemas" value="https://global-gadget-docvalidator-sbx.azurewebsites.net/Settings/Schemes" />
    <add key="Validator" value="https://global-gadget-docvalidator-sbx.azurewebsites.net/Rule/SendToValidate" />
    <add key="ValidatorCheck" value="https://global-gadget-docvalidator-sbx.azurewebsites.net/Rule/CheckValidation" />
    <!--Gadget Validador-->

    <add key="LoginType" value="Certificate" />
    <add key="Recaptcha" value="6LdLLHMUAAAAAHNiDYNGeT-y2vIhsenl2hU9Kiy1" />
    <!--<add key="LoginType" value="Text" />-->
    <add key="UrlCertificateDeploy" value="https://colombia-dian-prototype-certificate.azurewebsites.net/AccountTwoFactor/Login" />

    <!--Cosmos DB Connection-->
    <add key="CosmosDbEndponitUrl" value="https://global-comosdb-document-sbx.documents.azure.com:443/" />
    <add key="CosmosDbAuthorizationKey" value="x8WR6ptMFndjHbkJus7kF9x95PX99Jmqa6T9E9hXBMFr5GvCnwHcJjYozn6iJzUorjuRPyBliPrA8raBy2Fjxw==" />
    <add key="CosmosDbDataBaseId" value="DocumentsData" />
    <add key="CosmosDbCollectionID" value="Documents" />
    <!--Cosmos DB Connection-->
	
	<!-- INICIO Parametros de configuracion para el envio de correo al generar reportes listados simples-->
	<add key="reportToEmail" value="sefaustino2021@gmail.com"/>
	<add key="reportFromEmail" value="thux@gmail.com"/>
	<add key="reportUserSmtp" value="sefaustino2021@gmail.com"/> <!--Usuario de Correo-->
	<add key="reportPasswordSmtp" value="Software1dian"/>		 <!--Contraseña de Correo-->
	<add key="reportHostSmtp" value="smtp.gmail.com"/>
	<add key="reportPortSmtp" value="587"/> 
	<!-- FIN Parametros de configuracion para el envio de correo al generar reportes listados simples-->

  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
