<?xml version="1.0" encoding="utf-8"?>
<!--
	  For more information on how to configure your ASP.NET application, please visit
	  https://go.microsoft.com/fwlink/?LinkId=301880
	  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--Hab Config-->
    <!--<add name="SqlConnection" connectionString="Server=tcp:gtpa-sql-server-hab.database.windows.net,1433;Initial Catalog=gtpa-sql-hab;Persist Security Info=False;User ID=DBAdmin;Password=Password1$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
    <!--Prod Config-->
    <!--<add name="SqlConnection" connectionString="Server=tcp:gtpa-sql-server-prod.database.windows.net,1433;Initial Catalog=gtpa-sql-prod;Persist Security Info=False;User ID=DBAdmin;Password=Password1$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
    <!--Test Config-->
    <add name="SqlConnection" connectionString="Server=tcp:gtpa-sql-server-test.database.windows.net,1433;Initial Catalog=gtpa-sql-test;Persist Security Info=False;User ID=DBAdmin;Password=Password1$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <!--Local Config-->
    <!--<add name="SqlConnection" connectionString="Server=tcp:hhlcgw9szg.database.windows.net,1433;Initial Catalog=sandbox_gosocket_dian;Persist Security Info=False;User ID=Adm_sandbox_gosocket@hhlcgw9szg;Password=4DMer45.w23;;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LoginType" value="Text" />
    <add key="Environment" value="Test" />
    <add key="BillerSoftwareId" value="fa326ca7-c1f8-40d3-a6fc-24d7c1040607" />
    <add key="BillerSoftwarePin" value="20191" />

    <add key="DownloadXmlUrl" value="https://gtpa-function-doc-validator-test-dian.azurewebsites.net/api/DownloadXml?code=KdwOXUL0YOckpGq9YaaoWpN4I/0x4jFaStyW6N81ls3q6xUH/C9eRg==" />
    <add key="GetPdfUrlDocEquivalentePos" value="https://gtpa-function-commons-test-utnxse.azurewebsites.net/api/PdfDS?code=5mNiZQFLajfnRqexB45G8iECq/QSqsaNdbSt58cn83waGUQmCam9Zw==" />
    <!--<add key="IpAccess" value="false" />
		<add key="AllowedIPs" value="34.209.49.241" />-->
    <!--<add key="RecaptchaIsEnable" value="false" />
		<add key="Recaptcha" value="6LdLLHMUAAAAAHNiDYNGeT-y2vIhsenl2hU9Kiy1" />-->
    <!--<add key="CertificateLoginUrl" value="https://localhost:44300/User/CertificateLogin" />-->
    <!--<add key="SqlConnectionProd" value="Server=tcp:gtpa-sql-server-prod.database.windows.net,1433;Initial Catalog=gtpa-sql-prod;Persist Security Info=False;User ID=DBAdmin;Password=Password1$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />-->
    <add key="SyncToProdGloss" value="Sincronizar Contribuyente a producción"/>
    <!--<add key="SendToActivateContributorUrl" value="https://gtpa-function-commons-hab.azurewebsites.net/api/SendToActivateContributor?code=y4RO4OXiqXdFJuerlceuGRfio/DrRngj1YEJ0bmFXfr4C3scQta2Fg=="/>-->

    <!--Hab Config-->
    <!--<add key="GlobalStorage" value="DefaultEndpointsProtocol=https;AccountName=gtpastoragehab;AccountKey=ggl5Op8HgWO7iLSCr6I9kSF7HegCCUF9iwUgk+9jtdeVTOhscHWYOs/Y/XqB63hzzn9fEdGhHF2Zwp7PllozXA==;EndpointSuffix=core.windows.net" />
		<add key="SqlConnection"value="Server=tcp:gtpa-sql-server-hab.database.windows.net,1433;Initial Catalog=gtpa-sql-hab;Persist Security Info=False;User ID=DBAdmin;Password=Password1$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />-->

    <!--Test Config-->
    <add key="GlobalStorage" value="DefaultEndpointsProtocol=https;AccountName=gtpastoragetest;AccountKey=N6T73yd7bY8016nZjUVWe8siHOr+kekKoupWcRG4/++0PLIN9SqtxSQ8d1lfVNJCPR7QlAt7hiWuKSO/uq9pLg==;EndpointSuffix=core.windows.net"/>
    <add key="SqlConnection" value="Server=tcp:gtpa-sql-server-test.database.windows.net,1433;Initial Catalog=gtpa-sql-test;Persist Security Info=False;User ID=DBAdmin;Password=Password1$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add key="GlobalBillerStorage" value="DefaultEndpointsProtocol=https;AccountName=gtpabillerstoragetest;AccountKey=NSApL49AulpYvBLQVOSC2srq64DKMlcvjGphRF56z21BqYjGJMwV2zNtHOrV0Xh3ZL6fc5q+wV+KQBRJmhaxyg==;EndpointSuffix=core.windows.net" />
    <add key="UploadXmlUrl" value="https://gtpa-function-doc-validator-test-utnxse.azurewebsites.net/api/UploadXml?code=7Ge4DtRtw9MyvmDayVgGPE24Vw6TQHqfsQaohIpDFf7jKDy01/VN1Q==" />

    <!--<add key="SendEmailFunctionUrl" value="https://gtpa-function-commons-hab.azurewebsites.net/api/EmailSender?code=hGaGJpUwu94EpcNAaLV7sIsbNN4DiJYtiyH5bfxCfFr9gYWImD0b5w==" />
		<add key="EmailApplicationName" value="DIAN - Habilitación factura electrónica" />
		<add key="EmailPassword" value="AZ_mail$012" />
		<add key="EmailPort" value="587" />
		<add key="EmailSender" value="face-vp@dian.gov.co" />
		<add key="EmailServer" value="smtp.office365.com" />
		<add key="EmailUser" value="face-vp@dian.gov.co" />-->

    <add key="BotonSincronizar" value="true"/>


    <add key="SendToActivateRadianOperationUrl" value=""/>
    <add key="SendToActivateOtherDocumentContributorUrl" value="https://gtpa-function-commons-test.azurewebsites.net/api/SendToActivateOtherDocumentContributor?code=g8YttMmJfQGSydD3rVgqjfJza0tzjFEoyVas8epY6LQMJqo4DIDqZA=="/>

    <!-- Queries Sql-->
    <add key="GetContributorOperationSQL" value="SELECT c.OperationModeId FROM ContributorOperations C WHERE C.Contributorid = '{contributorid}' AND C.Deleted != 1"/>


    <add key="AccountByNit" value="https://gtpa-biller-functions-test-utnxse.azurewebsites.net/api/AccountByNit?code=4j1C6ixtNjpQUWspR5unprptT1ojkyPQmIWwTLJmin88/qguO9vc4A=="/>
    <add key="SendEmailFunctionUrl" value="https://gtpa-function-commons-test.azurewebsites.net/api/EmailSender?code=97GcANnjzaxZpGFDpwPnZ70LvaK8pXXN4sSSQ5a2d7tdwhjL0RHBAQ==" />
    <add key ="SendEmailFunction" value="https://gtpa-biller-functions-test-utnxse.azurewebsites.net/api/SendEmailFunction?code=mLenfEfv7baUR9ad3igwXxlXSpLqX7DxpV1KEF53BBieiwwUQSNfyg=="/>
    <add key="EmailApplicationName" value="DIAN - Habilitación factura electrónica" />
    <add key="EmailPassword" value="3US6kKm9kd" />
    <add key="EmailPort" value="587" />
    <add key="EmailSender" value="salfa@einvoicing.signature-cloud.com" />
    <add key="EmailServer" value="mx01.einvoicing.signature-cloud.com" />
    <add key="EmailUser" value="salfa@einvoicing.signature-cloud.com" />

    <add key="CheckUrl" value="https://https://gtpa-web-biller-test-utnxse.azurewebsites.net/User/CheckUrl?" />
    <add key="UserAuthTokenUrl" value="https://localhost:44300/User/AuthToken?" />
    <!--<add key="BillerAuthUrl" value="https://gtpa-web-biller-test-indra-fg.azurewebsites.net/account/ssodian?" />-->
    <add key="BillerAuthUrl" value="https://gtpa-web-biller-test-indra-fg.azurewebsites.net/account/ssodian?" />

    <add key="Dian"
		  value="Server=tcp:gtpa-sql-server-test.database.windows.net,1433;Initial Catalog=gtpa-sql-test;Persist Security Info=False;User ID=DBAdmin;Password=Password1$;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=300;"/>

    <add key="GetValidationsByTrackIdUrl" value="https://gtpa-function-doc-validator-test-indra.azurewebsites.net/api/GetValidationsByTrackId?code=jmrHRvwTg25gOjW7f9wGsuanLJQHu7xtkqEDtfzwnoqVEkSdZT4Vhw==" />

    <add key="CosmosDbEndpointUrl" value="https://gtpa-cosmosdb-document-test.documents.azure.com:443/" />
    <add key="CosmosDbAuthorizationKey" value="AOCR1ZUj8mp6RoSsf7wyLohMJzniBiTQ77L1q1VXvriX5GcQWgktOvZxCIVJ8AxIAOieI6cvRnq2kCdh9Dnccg==" />
    <add key="CosmosDbDataBaseId" value="DocumentsData" />
    <add key="CosmosDbCollectionID" value="Documents" />
    <!--Hab Config-->

    <add key="GetXpathDataValuesUrl" value="https://global-function-docvalidator-sbx.azurewebsites.net/api/GetXpathDataValues?code=tyW3skewKS1q4GuwaOj0PPj3mRHa5OiTum60LfOaHfEMQuLbvms73Q==" />

    <!-- INICIO Parametros de configuracion para el envio de correo al generar reportes listados simples-->
    <add key="reportToEmail" value="sefaustino2021@gmail.com"/>
    <add key="reportFromEmail" value="thux99@gmail.com"/>
    <add key="reportUserSmtp" value="sefaustino2021@gmail.com"/>
    <!--Usuario de Correo-->
    <add key="reportPasswordSmtp" value="Software1dian"/>
    <!--Contraseña de Correo-->
    <add key="reportHostSmtp" value="smtp.gmail.com"/>
    <add key="reportPortSmtp" value="587"/>

    <add key="WebServiceUrlEvent" value="https://vpfe-hab.dian.gov.co/WcfDianCustomerServices.svc?wsdl"/>

    <add key="EventGridKey" value="8LsJnXyVytKAFjjyJfykHTIhxBKtf9y9s1pCrzs27tU=" />
    <add key="EventGridTopicEndpoint" value="https://gtpa-event-grid-topic-documents-test.eastus2-1.eventgrid.azure.net/api/events" />
    <add key="ContributorsDocsToExport1" value="10000"/>

    <!-- FIN Parametros de configuracion para el envio de correo al generar reportes listados simples-->



    <!--Test Config-->
    <!--<add key="SqlConnection" value="Server=tcp:gtpa-sql-server-test.database.windows.net,1433;Initial Catalog=gtpa-sql-test;Persist Security Info=False;User ID=DBAdmin;Password=Password1$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
		<add key="GlobalStorage" value="DefaultEndpointsProtocol=https;AccountName=gtpastoragetest;AccountKey=yUB630nXPtzKcoSL8H/52UCzETQ0XLdRNjp/y8gYiUeZ8bH4TTftUzkesF6x6+DHpgu1RsNKa9d2TTYaBIJw4Q==;EndpointSuffix=core.windows.net" />
		<add key="EventHubConnectionString" value="Endpoint=sb://colombia-eventhub-validadordian.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=oRcNGCeYWHuW3hBUgv0bXiAVYuWC1THGli90Xh67Tx0=" />
		<add key="AccountTwoFactorLoginCode" value="https://localhost:44300/AccountTwoFactor/LoginCode?Code=" />
		<add key="UserAuthTokenUrl" value="https://localhost:44300/User/AuthToken?" />
		<add key="InvoicerLoginUrl" value="http://gtpa-web-ekoprototype-test-staging2.azurewebsites.net/account/ssodian?Token=" />

		<add key="PartitionKeyDian" value="10910094|22477286" />
		<add key="RowKeyDian" value="800197268" />
		

		<add key="BillerAuthUrl" value="http://gtpa-web-ekoprototype-test-staging2.azurewebsites.net/account/ssodian?" />
		
		<add key="GlobalRedis" value="gtpa-validator-redis-test.redis.cache.windows.net:6380,password=ghckdGfPqQOec7xvz8IUaBF6yObX4gcCdIWOc2TMFWo=,ssl=True,abortConnect=False" />
		<add key="WebServiceUrl" value="https://webservice.dian.co/test" />
		<add key="DianBillerName" value="UAE-Dian" />

		<add key="ValidatorReglas" value="https://localhost:44335/Category" />
		<add key="ValidatorEsquemas" value="https://localhost:44335/Settings/Schemas" />
		<add key="Validator" value="https://localhost:44335/Rule/SendToValidate" />
		<add key="ValidatorCheck" value="https://localhost:44335/Rule/CheckValidation" />

		<add key="EventGridKey" value="8LsJnXyVytKAFjjyJfykHTIhxBKtf9y9s1pCrzs27tU=" />
		<add key="EventGridTopicEndpoint" value="https://gtpa-event-grid-topic-documents-test.eastus2-1.eventgrid.azure.net/api/events" />

		<add key="CosmosDbEndpointUrl" value="https://gtpa-cosmosdb-document-test.documents.azure.com:443/" />
		<add key="CosmosDbAuthorizationKey" value="Kz5FGFLwRVrWYuwDJtYOoQsuSRF3qgPvIz7hPa5Bp2XgSBwhpt42UuKGtT12GMbvaHVl4UtK7ud344Mco1pomQ==" />
		<add key="CosmosDbDataBaseId" value="DocumentsData" />
		<add key="CosmosDbCollectionID" value="Documents" />

		<add key="AssignResponsabilityLoginUrl" value="https://apipruebasexternas.dian.gov.co/IdentidadRest/api/sts/v1/tokens/login?grant_type=password#client_id=6Py0Lb_MweMxopyuNFsyWEzBNrga#client_secret=FAib7fJ2YG3PEfDfYaaAIEE3V5Ia#tipoDocumento=US#nroDocumento=60024#nit=800197268#password=Factura2019" />
		<add key="AssignResponsabilityUrl" value="https://apipruebasexternas.dian.gov.co/rut/fe/v1/contribuyentes/asignarResponsabilidadFacturador" />

		<add key="GetValidationsByTrackIdUrl" value="https://gtpa-function-doc-validator-test.azurewebsites.net/api/GetValidationsByTrackId?code=g4PK7MUsrsoT4E0dviddgJ9qTTj9LSn4TEgT1jTYKiOGaNzYGdWKYw==" />-->

    <!--Prod Config-->
    <!--<add key="SqlConnection" value="Server=tcp:gtpa-sql-server-prod.database.windows.net,1433;Initial Catalog=gtpa-sql-prod;Persist Security Info=False;User ID=DBAdmin;Password=Password1$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
		<add key="GlobalStorage" value="DefaultEndpointsProtocol=https;AccountName=gtpastorageprod;AccountKey=MA56GRAObMBTAitESy+Q8hNkAOvU+VOhyr0KBhL9VBwbpIqDdBT6uAo6JOg8yuMpHECNt2EBHzXTa8LcYUjs8A==;EndpointSuffix=core.windows.net" />

		<add key="UserAuthTokenUrl" value="https://localhost:44300/User/AuthToken?" />

		<add key="WebServiceUrl" value="https://webservice.dian.co/test" />
		<add key="DianBillerName" value="UAE-Dian" />

		<add key="CosmosDbEndpointUrl" value="https://gtpa-cosmosdb-document-prod.documents.azure.com:443/" />
		<add key="CosmosDbAuthorizationKey" value="N5bybhDIhjjysvnPUOmQr5N1a4HvJiiuIV7q1yJpbZV8saCFPze0mzT26w5X0l8ssb8tuP92JNw3BEuW4Y2VOQ==" />
		<add key="CosmosDbDataBaseId" value="DocumentsData" />
		<add key="CosmosDbCollectionID" value="Documents" />-->

    <!--Functions-->
    <!--
		<add key="GetValidationsByTrackIdUrl" value="https://gtpa-function-doc-validator-test.azurewebsites.net/api/GetValidationsByTrackId?code=g4PK7MUsrsoT4E0dviddgJ9qTTj9LSn4TEgT1jTYKiOGaNzYGdWKYw==" />
		<add key="SendEmailFunctionUrl" value="https://gtpa-function-commons-test.azurewebsites.net/api/EmailSender?code=97GcANnjzaxZpGFDpwPnZ70LvaK8pXXN4sSSQ5a2d7tdwhjL0RHBAQ==" />
		<add key="GetPdfUrl" value="https://gtpa-function-commons-test.azurewebsites.net/api/GetPdf?code=6ksPGJ1kj39VdrVv03ndK0aax29KeKsEaz1Lvz8h3tEkxCtPe8DdEQ==" />
		<add key="DownloadXmlUrl" value="https://gtpa-function-doc-validator-test.azurewebsites.net/api/DownloadXml?code=RrnXFtVj0ZIgJVgoUppytMM8FJWBdQ2xrIMCEID7rMeEc/rtMOZbWQ==" />
		-->
    <!--Functions.SendEmailFunctionUrl.Config-->
    <!--
		<add key="EmailApplicationName" value="Dian.Web" />
		<add key="EmailServer" value="mx01.einvoicing.signature-cloud.com" />
		<add key="EmailUser" value="salfa@einvoicing.signature-cloud.com" />
		<add key="EmailPassword" value="3US6kKm9kd" />
		<add key="EmailSender" value="salfa@einvoicing.signature-cloud.com" />
		<add key="EmailPort" value="587" />
		-->
    <!--Functions.SendEmailFunctionUrl.Config-->
    <!--
		-->
    <!--Functions-->
    <!--
		-->
    <!--Gadget Validador-->
    <!--
		<add key="ValidatorReglas" value="https://gtpa-gadget-doc-validator-test.azurewebsites.net/Category/" />
		<add key="ValidatorEsquemas" value="https://gtpa-gadget-doc-validator-test.azurewebsites.net/Settings/Schemes" />
		<add key="Validator" value="https://gtpa-gadget-doc-validator-test.azurewebsites.net/Rule/SendToValidate" />
		<add key="ValidatorCheck" value="https://gtpa-gadget-doc-validator-test.azurewebsites.net/Rule/CheckValidation" />
		-->
    <!--Gadget Validador-->
    <!--
		-->
    <!--<add key="LoginType" value="Certificate" />-->
    <!--
		<add key="Recaptcha" value="6LdetJgUAAAAAOi1VAHubfelEPDrWh5OD5RuowvP" />
		<add key="RecaptchaServer" value="6LdetJgUAAAAAJX1Ldpu49q5YPl9ygbN4mJl1S_4" />
		<add key="RecaptchaUrl" value="https://www.google.com/recaptcha/api/siteverify" />
		<add key="LoginType" value="Text" />-->
    <!--<add key="CertificateLoginUrl" value="https://gtpa-web-prototype-certificate-test.azurewebsites.net/User/Login" />-->



    <!--Local Config-->
    <!--
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="SqlConnection" value="Server=tcp:hhlcgw9szg.database.windows.net,1433;Initial Catalog=sandbox_gosocket_dian;Persist Security Info=False;User ID=Adm_sandbox_gosocket@hhlcgw9szg;Password=4DMer45.w23;;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
		<add key="DianStorage" value="DefaultEndpointsProtocol=https;AccountName=sandboxgosocketdian;AccountKey=h6H/XE4PmPmX0TmP+XRi8+g5oUWi0ChBVq8XsG6xkUTowfLURXMlewV8quEVV4U8CUFpey3LqkyQMBcCJWP0IQ==;EndpointSuffix=core.windows.net" />
		<add key="GlobalStorage" value="DefaultEndpointsProtocol=https;AccountName=globalgosocketstoragesbx;AccountKey=IrgP2b9LKUiB7ycWI6qFFmQY4QmT7VP+saXeDUx/8zD80vgTp/3boN+k21guda2QO/DCVa/fr40ZaIW9tTskeg==;EndpointSuffix=core.windows.net" />
		<add key="EventHubConnectionString" value="Endpoint=sb://colombia-eventhub-validadordian.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=oRcNGCeYWHuW3hBUgv0bXiAVYuWC1THGli90Xh67Tx0=" />
		<add key="AccountTwoFactorLoginCode" value="https://localhost:44300/AccountTwoFactor/LoginCode?Code=" />
		<add key="InvoicerLoginUrl" value="http://gtpa-web-billing-test.azurewebsites.net/account/ssodian?Token=" />

		-->
    <!--Functions-->
    <!--
		<add key="GetValidationsByTrackIdUrl" value="https://global-function-docvalidator-sbx.azurewebsites.net/api/GetValidationsByTrackId?code=8QQb66PDafM0vkLjL2uIXZLP81QMp9qEODKQLBvYRGC9cpPAyTyNVw==" />
		<add key="SendEmailFunctionUrl" value="https://colombia-function-dian-commons-prd.azurewebsites.net/api/EmailSender?code=Qx8OvngXRz43u6pmvkHdgQiEzA8lCDS7YImsVYwjoa3eFQSZ3alplA==" />
		<add key="SendEmailFunctionUrl" value="https://colombia-function-dian-commons-sbx.azurewebsites.net/api/EmailSender?code=l8DjQxrN0aZZVTOgd9GYuCI8s7hHEiTKNxqUR7KjX1lKIfnir4iPQg==" />
		<add key="GetPdfUrl" value="https://colombia-function-dian-commons-sbx.azurewebsites.net/api/GetPdf?code=q4Dd1zzjzTKDneHE1/ri31CVKjGPdjIpf3GsSbj6FDhCnm2SgxGpcg==" />
		<add key="DownloadXmlUrl" value="https://global-function-docvalidator-sbx.azurewebsites.net/api/DownloadXml?code=kSTvNZa67/ZL94n6JxiJ2tNPTD07SVWxGRR3zx53LcgS9LCdSYDq8Q==" />
		-->
    <!--Functions.SendEmailFunctionUrl.Config-->
    <!--
		  <add key="EmailApplicationName" value="Dian.Web" />
		  <add key="EmailServer" value="mx01.einvoicing.signature-cloud.com" />
		  <add key="EmailUser" value="salfa@einvoicing.signature-cloud.com" />
		  <add key="EmailPassword" value="3US6kKm9kd" />
		  <add key="EmailSender" value="salfa@einvoicing.signature-cloud.com" />
		  <add key="EmailPort" value="587" />
		-->
    <!--Functions.SendEmailFunctionUrl.Config
		Functions-->
    <!--

		-->
    <!--Gadget Validador-->
    <!--
		<add key="ValidatorReglas" value="https://global-gadget-docvalidator-sbx.azurewebsites.net/Category/" />
		<add key="ValidatorEsquemas" value="https://global-gadget-docvalidator-sbx.azurewebsites.net/Settings/Schemes" />
		<add key="Validator" value="https://global-gadget-docvalidator-sbx.azurewebsites.net/Rule/SendToValidate" />
		<add key="ValidatorCheck" value="https://global-gadget-docvalidator-sbx.azurewebsites.net/Rule/CheckValidation" />
		-->
    <!--Gadget Validador-->
    <!--
		
		<add key="LoginType" value="Certificate" />
		<add key="Recaptcha" value="6LdLLHMUAAAAAHNiDYNGeT-y2vIhsenl2hU9Kiy1" />
		<add key="LoginType" value="Text" />
		<add key="UrlCertificateDeploy" value="https://colombia-dian-prototype-certificate.azurewebsites.net/AccountTwoFactor/Login" />
		
		-->
    <!--Cosmos DB Connection-->
    <!--
		<add key="CosmosDbEndpointUrl" value="https://global-comosdb-document-sbx.documents.azure.com:443/" />
		<add key="CosmosDbAuthorizationKey" value="x8WR6ptMFndjHbkJus7kF9x95PX99Jmqa6T9E9hXBMFr5GvCnwHcJjYozn6iJzUorjuRPyBliPrA8raBy2Fjxw==" />
		<add key="CosmosDbDataBaseId" value="DocumentsData" />
		<add key="CosmosDbCollectionID" value="Documents" />
		-->
    <!--Cosmos DB Connection-->
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <customErrors mode="Off" defaultRedirect="~/Error">
      <error statusCode="400" redirect="~/Error/400" />
      <error statusCode="404" redirect="~/Error/404" />
      <error statusCode="500" redirect="~/Error/Index" />
      <error statusCode="401" redirect="~/Error/Unauthorized" />
    </customErrors>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" enableVersionHeader="false" maxRequestLength="10000000"/>
    <!--<httpCookies httpOnlyCookies="true" requireSSL="true"/>-->
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>

  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <!--<add name="X-Frame-Options" value="SAMEORIGIN" />-->
        <add name="X-Xss-Protection" value="1; mode=block" />
        <add name="Content-Security-Policy" value="unsafe-inline script-src https://" />
        <add name="Referrer-Policy" value="strict-origin" />
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.8.16603" newVersion="3.19.8.16603" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.Platform" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.8.16603" newVersion="3.19.8.16603" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.1.0" newVersion="2.9.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.1.0" newVersion="1.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
		  <parameters>
			<parameter value="mssqllocaldb"/>
		  </parameters>
		</defaultConnectionFactory>
		<providers>
		  <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	  </entityFramework>-->
  <entityFramework codeConfigurationType="Gosocket.Dian.DataContext.AzureDbConfiguration, Gosocket.Dian.DataContext">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <!--<add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />-->
      <remove invariant="System.Data.SQLite" />
      <!--<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />-->
    </DbProviderFactories>
  </system.data>
</configuration>