/*    general Styles      */
body {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    color: #2C323C;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    color: #2C323C;
}

label {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    margin-left: 3px;
}

li.list-inline-item {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #2C323C;
    display: inline-table !important;
}

th {
    font-family: Arial;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #2C323C;
    padding: 6px 10px;
    text-align: center;
}

.button-top-left-radian {
    margin: 25px 0px;
    cursor: pointer;
}

.text-muted strong {
    color: #2C323C;
}

.table-toolbar-left {
    margin: 8px 0;
    padding-bottom: 0px;
}
/*    general Styles      */
.RadianContainerBegin {
    margin: 50px 0px 15px;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    padding: 0px 40px 70px;
}

.RadianAlertText {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5vw;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #348441;
}

.RadianCardContainer {
    padding: 16px 0px 30px;
    width: 60%;
    height: 188px;
    background: #F2F6FB;
    border-radius: 10px;
    float: none;
    margin: 45px auto 15px;
    box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.1);
}

.RadianCardContainerLogin {
    width: 80% !important;
    height: 140px;
}

.close {
    font-size: 19px !important;
    font-weight: 700 !important;
    line-height: 1 !important;
    text-shadow: 0 1px 0 #fff !important;
    filter: alpha(opacity=20) !important;
    border-radius: 50% !important;
}

@media screen and (min-width: 1101px) {

    .RadianTextSelected {
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #2C323C;
        margin-top: 40px;
        margin-bottom: 0px;
    }

    .RadianTittleCard {
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 1.3vw;
        align-items: center;
        text-align: center;
        color: #2C323C;
    }

    .RadianTittleCard2 {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 1vw;
        line-height: 22px;
        align-items: center;
        text-align: center;
        color: #2C323C;
        margin-top: -10px;
    }

    .RadianCardContainer:hover .RadianTittleCard {
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 1.3vw;
        align-items: center;
        text-align: center;
        letter-spacing: 0.2px;
        color: #348441;
        cursor: pointer;
    }
}

@media screen and (max-width: 1100px) {

    .RadianCardContainer {
        background: #F2F6FB;
        border-radius: 10px;
        width: 80%;
        height: 200px;
        background: #F2F6FB;
        border-radius: 10px;
        float: none;
        margin: 15px auto;
    }

    .RadianTextSelected {
        height: 21px;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 2vw;
        line-height: 21px;
        color: #2C323C;
        margin-top: 25px;
    }


    .RadianTittleCard {
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 2vw;
        align-items: center;
        text-align: center;
        color: #2C323C;
    }


    .RadianCardContainer:hover .RadianTittleCard {
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 2vw;
        line-height: 25px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.4px;
        color: #348441;
        cursor: pointer;
    }

    .RadianTittleCard2 {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5vw;
        line-height: 22px;
        align-items: center;
        text-align: center;
        color: #2C323C;
        margin-top: -10px;
    }
}

@media screen and (max-width: 700px) {


    .RadianAlertText {
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 4vw;
        line-height: 30px;
        align-items: center;
        text-align: center;
        color: #348441;
    }

    .RadianCardContainer {
        background: #F2F6FB;
        border-radius: 10px;
        width: 80%;
        height: 200px;
        background: #F2F6FB;
        border-radius: 10px;
        float: none;
        margin: 15px auto;
    }

    .RadianTittleCard {
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 3vw;
        align-items: center;
        text-align: center;
        color: #2C323C;
    }

    .RadianTextSelected {
        height: 21px;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 3vw;
        line-height: 21px;
        color: #2C323C;
        margin-top: 25px;
    }

    .RadianCardContainer:hover .RadianTittleCard {
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 3vw;
        line-height: 25px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.4px;
        color: #348441;
        cursor: pointer;
    }

    .RadianTittleCard2 {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 2vw;
        line-height: 22px;
        align-items: center;
        text-align: center;
        color: #2C323C;
        margin-top: -10px;
    }
}


.RadianCentered {
    text-align: center;
}


.RadianCardContainer:hover .RadianimgSvg path {
    fill: #348441 !important;
}

.RadianCardContainerLogin:hover .RadianimgSvg path {
    fill: #348441 !important;
}

.input-general {
    height: 41px !important;
    background: #FFF !important;
    border: 1px solid #CCCCCC !important;
    box-sizing: border-box;
    border-radius: 4px !important;
}

    .input-general[disabled], .file-input-disabled input {
        background: #F7F7F7 !important;
    }

.radian-conventions i, #table-contributor-files i {
    margin: 0px 7px 0px 16px;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 16px;
}

.list-inline-item img {
    margin: 0 7px 0 0;
}

.radian-convention li {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: inline-table !important;
}

i.fa-exclamation-circle {
    color: #F3A632;
}

i.fa-check-circle {
    color: #348441;
}

i.fa-times-circle {
    color: #B81818;
}

i.fa-info-circle {
    color: #62C7AB;
}

#table-contributor-files .download-contributor-files {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
}

#table-contributor-files td {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #2C323C;
    padding: 6px 10px;
    vertical-align: middle;
}

.fa-pencil {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    color: #348441;
    cursor: pointer;
}

.fa-toggle-on {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    color: #348441;
    cursor: pointer;
}

.fa-toggle-off {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    color: #348441;
    cursor: pointer;
}

.download-contributor-files {
    color: #348441;
    margin: 0px 6px;
}

.fa-download {
    margin: 0px 6px;
}

button.edit-state {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #348441;
    padding: 0;
}

.radian-view {
    text-align: left;
    margin-left: 25px;
}

.title-view {
    height: 34px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    color: #000000;
    margin-bottom: 6px;
}

.underline-title {
    width: calc(100% + 5%);
    height: 3px;
    left: 250px;
    top: 170px;
    background: #62C7AB;
    border-radius: 2px;
}

.title-container {
    width: max-content;
    margin-bottom: 0px;
}

.btn-radian-default {
    background: #FFFFFF;
    border: 2px solid #B4B4B4;
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 30px;
    padding: 8px 20px;
    font-size: 14px;
    line-height: 16px;
}

.btn-radian-success {
    background: #348441 !important;
    border-radius: 10px;
    color: white;
    padding: 8px 20px;
    font-size: 14px !important;
    line-height: 16px;
    border-color: #348441;
}

.btn-radian-default:hover, btn-radian-success:hover {
    background: #62C7AB;
    border-radius: 10px;
    color: white;
    padding: 8px 20px;
    font-size: 14px;
    line-height: 16px;
    border-color: #62C7AB;
}

.dropdown-state #RadianState {
    height: 41px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
    width: auto;
}

.panel-title-radian {
    font-size: 18px;
}

#DateInterval {
    cursor: pointer;
    font-size: 11px;
}

.init-hide {
    display: none;
}

.file-input-disabled input {
    color: #2458C5;
    font-weight: bold;
    text-overflow: ellipsis;
    padding-right: 194px;
}

.file-input-disabled {
    position: relative;
    width: 50%;
}

.modal-footer {
    border: none;
    background: no-repeat;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 10px 10px 80px;
}

h4.text-thin {
    text-align: center;
    font-weight: bold;
    width: 80%;
    margin: auto;
    line-height: 30px;
    font-size: 22px;
    color: #348441;
}


.bootbox-close-button {
    margin-top: -10px;
    width: 28px;
    height: 28px;
    background-color: #348441 !important;
    opacity: 1;
    color: white;
    font-weight: lighter !important;
}

.modal-content {
    border-radius: 10px;
}

.modal-dialog .media-body {
    padding: 80px 30px 0px 30px;
}

.RadianImgContainer {
    text-align: center;
}

#steps-approved .steps li {
    width: 15%;
    height: 108.15px;
    border-radius: 50%;
    margin: 0px 20px;
}

#steps-approved .steps a {
    background: none;
    position: relative;
}

#steps-approved .steps span.number {
    display: none;
}

#steps-approved .steps img {
    width: 100%;
}

#steps-approved .steps li a {
    height: inherit;
    top: -3px;
    position: relative;
}

#steps-approved .steps li.done {
    opacity: 1;
    position: relative;
}

    #steps-approved .steps li.done::after {
        content: "";
        width: 140%;
        height: 130px;
        background: transparent;
        position: absolute;
        top: 0px;
    }

    #steps-approved .steps li.done::before {
        width: 20px;
        height: 20px;
    }

#steps-approved .steps li:nth-child(3).disabled a {
    background: url(../../images/png/validado3.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

#steps-approved .steps li:nth-child(4).disabled a {
    background: url(../../images/png/pruebas3.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

/*#steps-approved .steps li:nth-child(1).current a {
    background: url(../../images/png/ingreso2.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    padding: 0px;
}*/

#steps-approved .steps li:nth-child(2).current a {
    background: url(../../images/png/pendiente2.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

#steps-approved .steps li:nth-child(3).current a {
    background: url(../../images/png/validado2.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

#steps-approved .steps li:nth-child(4).current a {
    background: url(../../images/png/pruebas2.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

#steps-approved .steps li:nth-child(1).done a {
    background: url(../../images/png/ingreso1.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

#steps-approved .steps li:nth-child(2).done a {
    background: url(../../images/png/pendiente1.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

#steps-approved .steps li:nth-child(3).done a {
    background: url(../../images/png/validado1.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

#steps-approved .steps li:nth-child(4).done a {
    background: url(../../images/png/pruebas1.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

#steps-approved .steps li.last a {
    background: url(../../images/png/flagFinish.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

#steps-approved .steps li.done::before {
    content: "";
    position: absolute;
    right: 16px;
    top: 2px;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-image: url(../../images/png/done.png);
    z-index: 1;
}

.radian-personal-info {
    padding: 10px;
}

#steps-approved .content {
    background: none;
}

.radian-upload::-webkit-file-upload-button {
    visibility: hidden;
}

.radian-upload::before {
    content: 'Adjuntar';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

.radian-sub-title-container p {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

.radian-subtitle-container {
    width: 100%;
}

.radian-subtitle-line {
    background: #E9E8E8;
    border-radius: 2px;
    height: 1.98px;
}

.subtitle-view {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    color: #2C323C;
    padding: 2px 2px 10px;
}

#steps-approved section {
    border: 1px solid #348441;
    padding: 0;
    width: 100%;
    height: auto;
    position: relative;
}

.radian-personal-form {
    padding: 20px 0;
}

#steps-approved .radian-conventions {
    margin: 10px 0 20px;
}

.radian-file-label {
    background: #FFFFFF;
    border: 1px solid #348441;
    box-sizing: border-box;
    border-radius: 4px;
    height: 41px;
    line-height: 2.5 !important;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.custom-file-label::after {
    content: "Adjuntar";
    color: white;
    background: #348441;
    height: 41px;
    line-height: 2.2 !important;
    font-size: 14px;
}

#steps-approved .steps {
    width: 80%;
    margin: auto;
    padding: 50px 0px;
    margin-bottom: 30px;
}

#steps-approved li.done .name-state {
    position: absolute;
    bottom: -29px;
    color: black;
    text-align: center;
    width: 100%;
    padding: 0px 12px;
}

#steps-approved li.current .name-state {
    position: absolute;
    bottom: -29px;
    text-align: center;
    color: #348441;
    width: 100%;
    font-weight: bold;
}

#steps-approved li.done:nth-child(2) .name-state {
    bottom: -20px;
}

#steps-approved li.disabled .name-state {
    position: absolute;
    bottom: -29px;
    text-align: center;
    color: #B0B0B0;
    width: 100%;
    padding: 0 12px;
}

.show-history {
    text-align: right;
    float: right;
    font-size: 18px;
    color: #348441;
    cursor: pointer;
}

#progress-wrp {
    border: 1px solid #0099CC;
    padding: 1px;
    border-radius: 4px;
    margin: 10px;
    text-align: left;
    background: #fff;
    box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
    width: 93px;
    position: absolute;
    bottom: 3px;
    right: 21px;
}

    #progress-wrp .progress-bar {
        height: 11px;
        border-radius: 3px;
        background-color: #348441;
        box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
    }

    #progress-wrp .status {
        top: 3px;
        left: 50%;
        position: absolute;
        display: inline-block;
        color: #000000;
    }

.event-section .cude-section span {
    display: block;
}

.event-section .cude-text {
    overflow-wrap: break-word;
    width: auto;
}

.event-section .title-container {
    margin-bottom: 10px;
}

.panel > .panel-heading:after {
    display: none;
}

.event-section .aditional-data-section h5, .event-section .aditional-data-section p {
    margin-bottom: 5px;
}

.event-section .aditional-data-section span {
    text-align: left;
    display: block;
}

.event-section .aditional-data-section .second-section {
    float: right;
    padding: 0px 7px;
    margin-top: 10px;
}

#steps-approved .content {
    background: none;
}

.radian-vertical-line {
    border-left: 6px solid #FD7E14;
    height: 200px;
}

span.state-file {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    background-repeat: no-repeat;
    bottom: 0px;
    margin: 11px;
}

    span.state-file.status-1 {
        background-image: url(../../images/Svg/Loaded.svg);
    }

    span.state-file.status-2 {
        background-image: url(../../images/aproved.png);
    }

    span.state-file.status-3 {
        background-image: url(../../images/reject.png);
    }

    span.state-file.status-4 {
        background-image: url(../../images/observations.png);
    }

span.state-file-rejected.status-4 {
    background-image: url(../../images/observations.png);
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: 12px;
    background-repeat: no-repeat;
}

span.state-file-rejected.status-3 {
    background-image: url(../../images/reject.png);
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: 12px;
    background-repeat: no-repeat;
}

.highcharts-figure, .highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-figure-settest {
    min-width: 410px;
    max-width: 900px;
    margin: 1em auto;
}


.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.warning-wrapper .fa-exclamation-circle {
    font-size: 34px;
}

.warning-wrapper .icon-warning {
    text-align: center;
    border-right: 3px solid #EA965A;
    border-radius: 2px;
    padding: 10px;
}

.warning-wrapper {
    padding: 10px;
    background: #F4F5F7;
}

span.warning-title {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
}

.setTestForm {
    padding: 20px;
    border: 1px solid #348441;
    box-sizing: border-box;
    border-radius: 0px 5px 0px 0px;
    margin-top: 20px;
}

span.close {
    color: #565B64;
    opacity: 1;
    font-weight: 100 !important;
    position: absolute;
    bottom: 3px;
    right: 0;
    margin: 10px;
}

.underline-reject-text {
    color: #348441;
    cursor: pointer;
    opacity: 1;
}

.custom-file {
    width: 50%;
}

.reject-observation {
    font-weight: bold;
}

.dataTables_length {
    display: none;
}

.dataTables_filter {
    width: 100% !important;
    text-align: left !important;
}

.dataTable th {
    font-weight: lighter !important;
    text-align: center;
    border-bottom: solid 0px #E9E8E8 !important;
}

.dataTable {
    border: none !important;
}

.dataTables_filter input[type="search"] {
    display: block !important;
    width: 100% !important;
    margin: 10px 0 20px 0 !important;
}

.modal-radian .title-view {
    margin-bottom: 2px;
}

.modal-radian .title-container {
    margin-bottom: 20px;
}

.underline-title-grey {
    background: #E9E8E8 !important;
    height: 2px !important;
    width: calc(95% + 5%) !important
}

.test-redirect {
    border: none !important;
    background: #F4F5F7;
}

    .test-redirect .panel-body {
        padding: 15px 20px;
    }

#table-customers {
    width: 95%;
}

#table-history .btn-radian-success {
    width: 10%;
}

.back-button {
    color: #348441;
    font-size: 18px;
    margin: 12px 0px 17px 0px;
    border: none;
}


.underline-reject-text.tooltip img {
    margin: 0 4px;
}

.dataTable td {
    text-align: center;
}

.wizard > .content > .body label.error {
    color: #8a1f11;
    display: inline-block;
    margin-left: 1.5em;
    margin: 4px 0px;
    top: 4px;
    position: relative;
}

.jqcs_options {
    display: block;
    position: absolute;
    z-index: 10;
    width: 29.3%;
    background-color: white;
}

.jqcs_arrow {
    width: 10% !important;
}

.jqcs_select {
    background: white;
}

.jqcs_option {
    text-align: left;
    background-repeat: no-repeat;
    background-position: 6px;
    padding: 5px 16px 5px 32px;
}

.jqcs_value {
    width: 100%;
}

li.done a::after, li.current a::after {
    content: "";
    width: 54%;
    height: 3px;
    background: #348441;
    border-radius: 4px;
    position: absolute;
    right: -42%;
    top: 50%;
}

li.disabled a::after {
    content: "";
    width: 54%;
    height: 0px;
    position: absolute;
    right: -42%;
    top: 50%;
    border: 1px dashed #B0B0B0;
}

li.last a::after {
    display: none;
}


.view-more-collapse {
    cursor: pointer;
    justify-content: center;
    display: flex;
    padding-top: 10px;
}

.custom-file {
    padding: 2px 2px 10px;
}

.custom-file-input {
    height: 33px !important;
}

#addRadianContributorFileTypeModal {
    min-width: 400px;
}

button.selectpicker {
    background: transparent;
    padding: 11px 20px;
    border: 1px solid #CCCCCC !important;
    border-radius: 4px;
}

    button.selectpicker .fa-caret-down {
        right: 15px;
        position: absolute;
    }

.custom-combobox {
    position: relative;
    display: inline-block;
}

.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}

.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}

.form-group.input-arrow::before {
    content: "";
    border-bottom: 2px solid;
    border-left: 2px solid;
    height: 7px;
    width: 7px;
    transform: rotate(-45deg);
    position: absolute;
    margin: 33px 0px 0px 0px;
    right: 15px;
}

.fa-caret-down::before {
    content: "";
    border-bottom: 2px solid;
    border-left: 2px solid;
    height: 7px;
    width: 7px;
    transform: rotate(-45deg);
    position: absolute;
    margin: 3px 0px 0px 0px;
    right: 0px;
}

.input-general .bootstrap-select {
    background-color: #f7f7f7;
}

.prompt-comment .bootbox-close-button.close {
    background: url(/Content/images/Svg/CloseButton.svg);
    background-repeat: no-repeat;
    text-indent: -9000px;
    right: -30px;
    top: 28px;
}

.bootbox-close-button.close {
    background: url(/Content/images/Svg/CloseButton.svg);
    background-repeat: no-repeat;
    text-indent: -9000px;
    top: 28px;
    right: 20px;
}

.prompt-comment {
    font-size: 24px;
}

    .prompt-comment .modal-title {
        font-size: 24px;
        width: fit-content;
        border-bottom: 2px solid #62C7AB;
        padding-right: 20px;
        padding-bottom: 4px;
    }

    .prompt-comment .modal-header:after {
        display: none;
    }

    .prompt-comment .modal-body {
        display: inline-flex;
        width: 80%;
        padding-top: 0px;
        padding-bottom: 20px;
    }

    .prompt-comment .modal-footer {
        position: absolute;
        display: inline-flex;
        width: 20%;
        padding-bottom: 0px;
        bottom: 21px;
    }

    .prompt-comment button.btn-radian-default {
        display: none;
    }

    .prompt-comment .bootbox-body {
        width: 100%;
    }

    .prompt-comment .modal-header {
        padding-bottom: 5px;
        padding-top: 27px;
    }

    .prompt-comment .modal-content {
        padding-right: 40px;
        padding-left: 10px;
    }


#dateFrom, #dateTo {
    padding-left: 20px;
    background-image: url(/Content/images/png/calendarAlt.png) !important;
    background-repeat: no-repeat !important;
    background-position: 20% 50% !important;
    display: inline-flex;
    width: 46%;
    font-size: 11px;
    letter-spacing: -0.4px;
}

#dateFrom {
    margin-right: 10px;
}

.ui-datepicker {
    width: auto;
}

.input-daterange {
    margin: 0px;
}

    .input-daterange label {
        width: 85%;
    }

.table-contributor {
    text-align: center;
}

.tooltip-custom {
    position: relative;
    display: inline-block;
    cursor: pointer;
    z-index: 1;
}

    /* Tooltip text */
    .tooltip-custom .tooltiptext {
        font-size: 9px;
        visibility: hidden;
        width: auto;
        background: #F2ECE7;
        color: black;
        text-align: justify;
        padding: 14px;
        border-radius: 6px;
        position: absolute;
        bottom: 100%;
        right: 15px;
        border: solid 1px;
    }


    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip-custom:hover .tooltiptext {
        visibility: visible;
    }

.underline-reject-text img {
    margin: 0 1px;
}

.cancel-confirmation .modal-body {
    background: url(/Content/images/png/check-circle.png);
    background-repeat: no-repeat;
    background-position: center 35px;
    padding-top: 111px;
    margin-bottom: 44px;
    margin-top: 12px;
}

.cancel-confirmation .modal-footer {
    display: none;
}

.file-size {
    font-weight: bold;
    font-size: 12px;
    color: #717171;
    position: absolute;
    right: 130px;
    bottom: 11px;
}

.dis-flex {
    display: flex;
}

    .dis-flex img {
        margin: 0 9px;
    }

.table-set-files {
    width: 70%;
    margin: auto;
}

    .table-set-files table {
        table-layout: fixed;
        text-align: center;
    }

        .table-set-files table td:first-child {
            white-space: inherit;
            text-align: left;
        }

.underline-subrow {
    border-bottom: 2px solid #E9E8E8;
}

.custom-styles-files {
    font-size: 14px;
}

    .custom-styles-files i {
        font-size: 18px !important;
    }

.full-width {
    width: 100%;
}

.select-radian-contributor td:first-child {
    display: inline-flex;
    width: 100%;
}

.select-radian-contributor td:nth-child(2) {
    padding: 0px !important;
}

.select-radian-contributor td:nth-child(3) {
    padding: 0px !important;
}

.htmlalert p {
    font-size: 22px;
}

.htmlalert ul {
    text-align: left;
    font-size: 14px;
}

.list-unstyled {
    list-style: none;
}

.set-details {
    display: inline-flex;
    width: 100%;
    padding: 6px 0 0;
    border-bottom: 1px solid #E9E8E8;
    color: #707782;
    font-size: 14px;
    padding-bottom: 5px;
}

.set-test-counts .modal-dialog {
    margin-bottom: 0px;
}

.set-details span {
    width: 90%;
    margin: auto;
}

.set-details > div {
    width: 10%;
}

.set-details-conventions span {
    margin-right: 6px;
}

.show-details-set {
    color: #348441;
    font-size: 13px;
}

.documents-table {
    text-align: center;
}

.custom-badget-blue {
    background-color: #028AB7;
    color: white;
}

.custom-badget-green {
    background-color: #348441;
    color: white;
}

.custom-badget-red {
    background-color: #B81818;
    color: white;
}

.col-pr-50 {
    padding-right: 50px !important;
}


.set-test-counts .panel-body {
    padding-left: 40px;
}

.set-test-counts .panel {
    box-shadow: none;
}

.show-details {
    color: #348441;
}

    .show-details a {
        padding: 0px;
    }

.popover-body {
    width: 80%;
    overflow: hidden;
    margin: 20px 20px 20px 0px;
    display: inline-block;
    float: right;
    border-left: solid 1px #EA965A;
    padding-left: 20px;
    color: #2c323c;
}

.popover {
    background-color: #F2ECE7;
    border-radius: 0px;
    width: 340px;
    max-width: none;
}

.icon-alert {
    display: inline-flex;
    font-size: 14px;
}

    .icon-alert fa-exclamation-circle {
        margin: 20px;
        position: absolute;
    }

.text-underline {
    text-decoration: underline;
    padding: 0px;
}

.test-set-dots .custom-badget-red {
    display: none;
}

.popover > .arrow:after {
    border-left-color: #F2ECE7 !important;
}

.icon-alert {
    display: inline-flex;
    text-align: center;
}

    .icon-alert .fa-exclamation-circle {
        margin: 20px auto;
        width: 44px;
    }

.adm-radian-view {
    padding: 25px 12px 20px !important;
    margin-top: 15px;
}

.underline-subtitle {
    width: 100%;
    left: 250px;
    top: 170px;
    border-radius: 2px;
    background: #E9E8E8;
    height: 2px;
}

.table-width-80 {
    width: 90%;
    margin: auto;
}

.panel-title.no-nifty {
    padding: 0px;
    font-size: 18px;
}

#table-history tr th:nth-child(1) {
    background-position: 151px;
    width: 25% !important;
}


#table-history tr th:nth-child(2) {
    background-position: 95px;
}

#table-history tr th:nth-child(3) {
    background-position: 72px;
}

#table-history tr th:nth-child(4) {
    background-position: 67px;
}

#table-history tr th:nth-child(5) {
    background-position: 66px;
}

.counter-data {
    display: inline-block;
    margin: 10px;
}

.margin-boton {
    margin: 23px auto;
    padding: initial;
}

.text-left-radian {
    text-align: left !important;
}

#table-history td {
    text-align: left;
    padding-left: 17px;
}

    #table-history td:nth-child(2) {
        text-align: center;
        padding-left: 18px;
        color: initial
    }

.edit-state-td {
    padding: 0px;
}

.edit-state {
    cursor: pointer;
}

.actions {
    padding: 0 5px;
}

.thirth-step .label-file-name {
    color: #2458C5;
    font-weight: bold;
}

.thirth-step .label-file-name {
    padding-left: 25px;
}

.show-details.disabled a:hover {
    text-decoration: none;
}

.show-details.disabled a {
    cursor: not-allowed;
}


/* ############# bootstrap toogle ################# */

/* Basic Rules */
.switch input {
    display: none;
}

.switch {
    display: inline-block;
    width: 23px;
    height: 14px;
    margin: 8px;
    transform: translateY(50%);
    position: relative;
}

input:checked + .slider {
    background-color: #348441;
    border: 1px solid transparent;
}

/* Style Wired */
.slider {
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 30px;
    box-shadow: 0 0 0 2px #777, 0 0 4px #777;
    cursor: pointer;
    overflow: hidden;
    transition: .4s;
    border: 1px solid #348441;
}

    .slider:before {
        position: absolute;
        content: "";
        width: 16px;
        height: 16px;
        background: white;
        border-radius: 30px;
        transform: translateX(-90%);
        transition: .4s;
        top: -2px;
        border: solid 3px #348441;
        left: 12px;
    }

input:checked + .slider:before {
    border: white;
    transform: translateX(-3px);
    background: white;
    top: 0px;
    width: 12px;
    height: 12px;
}

input:checked + .slider {
    box-shadow: 0 0 0 1px #348441,0 0 1px #348441;
}

/* Style Flat */
.switch.flat .slider {
    box-shadow: none;
}

    .switch.flat .slider:before {
        background: #FFF;
    }

.switch.flat input:checked + .slider:before {
    background: white;
}

.switch.flat input:checked + .slider {
    background: limeGreen;
}

/* ############# bootstrap toogle ################# */

.documents-table tr td {
    padding-top: 0px;
    padding-bottom: 0px;
}

.documents-freebiller {
    padding: 20px;
}

.buttons-freebiller {
    padding: 20px;
}

.result-users {
    width: 95%;
    margin: auto !important;
}

#btnUser {
    margin-left: 40px;
}

.view-details-user a {
    color: #348441;
    text-decoration: underline;
}

#btnCancel {
    color: #707782;
}

.label-check {
    margin: auto 5px;
    padding-top: 4px;
}

.d-flex {
    display: flex;
}

.subTitleMenu {
    margin-top: 10px;
    display: block;
}

#divMain .level-3 input[type=checkbox] {
    margin: 0px;
}

.checks-group {
    width: 95%;
    margin: auto !important;
    margin-top: 20px !important;
    padding-left: 3%;
}

#divMain .titleMenu, #divMain .subTitleMenu {
    font-size: 16px;
}

.show-password {
    position: absolute;
    right: 21px;
    top: 35px;
    font-size: 12px;
    cursor: pointer;
}

.add-profile {
    border-radius: 0px 5px 5px 0px;
    color: #348441;
    font-size: 14px;
    cursor: pointer;
}

    .add-profile a {
        color: white;
        position: relative;
        margin: auto;
        top: 7px;
        left: 1px;
    }

.cancel-confirmation .modal-dialog .media-body {
    padding: 25px 20% 0px 20%;
}

.isActive-False {
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none !important;
}

    .isActive-False a {
        text-decoration: none;
    }


.titleMenu {
    font-weight: 900;
    line-height: 18px;
    color: #2C323C;
}

.subTitleMenu {
    font-weight: bold;
    line-height: 16px;
    color: #2C323C;
}

.div-add-profile {
    margin: 31px 0px 11px 0;
}

.fa-plus-circle:before {
    margin-right: 6px;
}




ul#list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

    ul#list li {
        display: inline-block;
        background: #9AB4B0;
        color: white;
        padding: 3px 5px 3px 10px;
        border-radius: 15px;
        margin-right: 5px;
        margin-bottom: 5px;
    }

        ul#list li a {
            color: #9AB4B0;
            text-decoration: none;
            margin-right: 5px;
            font-size: 19px;
            background: white;
            width: 16px;
            height: 15px;
            border-radius: 50%;
            display: inline-flex;
            transform: matrix(0.71, 0.64, -0.78, 0.71, 0, 0);
            text-align: center;
            align-items: center;
            justify-content: center;
            top: 2px;
            left: -2px;
            position: relative;
        }

            ul#list li a:hover {
                color: red;
            }


#TypeDocIdHidden {
    position: absolute;
    left: 0;
    z-index: -1;
}

.dataTables_empty {
    text-align: center !important;
}

#table-history tbody tr td:first-child {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 200px;
}

#forgot-pasword-form {
    margin-top: 20px;
}

    #forgot-pasword-form .input-group {
        margin: auto;
    }

    #forgot-pasword-form .form-group {
        margin-bottom: 35px;
    }

    #forgot-pasword-form .row {
        width: 75%;
        margin: auto;
    }

.forgot-password .modal-dialog {
    width: 500px;
}

.bhoechie-tab-menu {
    padding: 0px !important;
}

.subtitle-modal {
    width: 80%;
    margin: auto;
    font-size: 14px;
}

.claseLabel {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: auto !important;
}