<style>
    footer {
        background: #3366CC;
        margin: 40px 0 0;
        padding: 40px 90px 40px 150px;
        color: #fff;
        font-family: 'Work Sans';
    }
    footer div.row {
        margin:0;
        display: flex;
    }
    footer a {
        text-decoration: underline;
    }
    footer p:not(.text-bold){
        margin-bottom: 4px;
        font-size: 12px;
    }
    footer p.text-bold {
        font-size: 14px;
    }
    footer div.col-sm-4:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
        padding-right: 30px;
    }
    footer div.col-sm-4:nth-child(2) {
        border: 1px solid #A6ADB4;
        border-top: 0;
        border-bottom: 0;
        padding: 0 30px;
    }
    footer div.col-sm-4:nth-child(3) {
        padding-left: 30px;
        padding-right: 0px;
    }
    .social-button img {
        height: 35px;
    }
    .mr-8 {
        margin-right: 8px;
    }
</style>
<footer>
    <div class="row">
        <div class="col-sm-4 text-center">
            <img src="~/Content/img/Gov.co.png" height="21" />
            <img class="text-center" src="~/Content/img/colombia_marca.png" height="48" style="display: block; margin-top: 12px" />
        </div>
        <div class="col-sm-4">
            <p class="text-bold">Dirección de Impuestos y Aduanas Nacionales</p>
            <p>Dirección: Sede principal | Bogotá, Nivel Central, carrera 8 Nº 6C - 38 Edificio San Agustín</p>
            <p>Código Postal: 111711</p>
            <p>Horario Contact Center: Lunes a Viernes 8:00 a.m. a 7:00 p.m. y Sábados de 8:00 a.m. a 12:00 m</p>
            <div style="margin-top: 24px">
                <a class="social-button" href="#" target="_blank" title="Twitter"><img src="~/Content/img/social-icons/Twitter.svg" alt="Twitter" /></a>
                <a class="social-button" href="#" target="_blank" title="Youtube"><img src="~/Content/img/social-icons/YouTube.svg" alt="Youtube" /></a>
                <a class="social-button" href="#" target="_blank" title="LinkedIn"><img src="~/Content/img/social-icons/LinkedIn.svg" alt="LinkedIn" /></a>
                <a class="social-button" href="#" target="_blank" title="Facebook"><img src="~/Content/img/social-icons/Facebook.svg" alt="Facebook" /></a>
                <a class="social-button" href="#" target="_blank" title="Instagram"><img src="~/Content/img/social-icons/Instagram.svg" alt="Instagram" /></a>
            </div>
        </div>
        <div class="col-sm-4">
            <p class="text-bold"><i class="fa fa-phone mr-8"></i> Contacto a nivel nacional</p>
            <p> PBX (571) 607 99 99 </p>
            <p> PBX (571) 382 45 00 </p>
            <p> PBX (571) 607 98 00 </p>
            <p> Servicio en Línea de Contacto </p>
            <p>
                <a href="#">PQSR y Denuncias</a> | <a href="#">Llamada en Línea</a> | <a href="#">Puntos de Contacto</a>
            </p>
            <p>Contact Center Teléfono: 057(1) 3556922</p>
            <p>Línea de atención Aduanera 3556924</p>
            <p>
                <a href="#">Política de privacidad de uso</a> | 
                <a href="#">Política de tratamiento de datos personales</a> |
                <a href="#">Política de seguridad de la información</a> | 
                <a href="#">Notificaciones judiciales</a> |
                <a href="#">Mapa del sitio</a>
            </p>
        </div>
    </div>
</footer>