/gtpa-web-prototype-dev - Web Deploy.pubxml
/gtpa-web-prototype-dev - Web Deploy.pubxml.user
/gtpa-web-prototype-test-staging - Web Deploy.pubxml
/gtpa-web-prototype-test-staging - Web Deploy.pubxml.user
*.pubxml.user
*.pubxml
