@model 

<h1>Facturador Electrónico - Indirecto</h1>
<div style="padding:50px;">
    <h3>Prueba </h3> 

    <div class="row">
        <a>Modo de Operacion</a>
        <select>

          
        </select>
    </div>
</div>
