
@using Gosocket.Dian.Web.Models
@{
    ViewBag.Title = "Estado Facturador Electrónico";
}
<link href="~/Content/css/Radian/RadianIndex.css" rel="stylesheet" />

<div style="text-align:left; margin-left:25px; ">
    <p style="height: 34px; font-family: Arial; font-style: normal; font-weight: normal; font-size: 30px; line-height: 34px; color: #000000; ">
        Estado Facturador Electrónico
    </p>
    <svg width="198" height="3" viewBox="0 0 198 3" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="198" height="3" rx="1.5" fill="#62C7AB" />
    </svg>
</div>

<div class="container RadianContainerBegin">
    test de pruebas.-....ñ.
</div>