@model Gosocket.Dian.Web.Models.ContributorViewModel
@using Gosocket.Dian.Web.Common
<div class="alert alert-danger">
    @*<i class="fa fa-info-circle fa-2x"></i>*@
    <span class="text-center">EL set de pruebas enviado ha sido rechazado. Debe reiniciar la certificación.</span><br />
</div>

