@model Gosocket.Dian.Web.Models.ContributorViewModel

<div class="panel-heading">
    <h3 class="panel-title padding-0" style="margin-top:20px;">Listado de representantes legales asociados</h3>
</div>

<div class="table-responsive padding-top-15">
    <table id="table-users" class="simple-table align-middle" data-int="0" style="width:100%">
        <thead>
            <tr>
                <th>NIT</th>
                <th>Nombre</th>
                <th>Correo electrónico</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr class='clickable-row' data-href="@Url.Action("View","User", new { id = user.Id })">
                    <td class="text-nowrap"><a>@user.Code</a></td>
                    <td class="text-nowrap"><a>@user.Name</a></td>
                    <td class="text-nowrap"><a>@user.Email</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

