@model Gosocket.Dian.Web.Models.ContributorViewModel

@{
    ViewBag.Title = "";
}

<div class="page-content margin-15">
    <div class="row margin-horizontal-0">
        <div class="panel">
            <div class="panel-body padding-top-20">
                <div class="row margin-horizontal-0">
                    <div id="panel-form" data-target="#panel-form" data-toggle="panel-overlay" class="panel panel-bordered-default margin-bottom-0">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>