@model Gosocket.Dian.Web.Models.UserViewModel

@{
    ViewBag.Title = "Agregar representante legal";
}

<div class="page-content margin-15">
    <div class="row margin-horizontal-0">
        <div class="panel">
            <div class="panel-body padding-top-20">
                <div class="row margin-horizontal-0">
                    <div id="panel-form" data-target="#panel-form" data-toggle="panel-overlay" class="panel panel-bordered-dian margin-bottom-0">
                        @using (Html.BeginForm("Add", "User", FormMethod.Post, new { id = "add-user-form" }))
                        {
                            @Html.Partial("_form")
                            <div class="panel-footer text-right">
                                <a href="@Url.Action("List", "User")" class="btn btn-default">Volver</a>
                                <button type="button" class="btn btn-default btn-hover-gosocket btn-save">Guardar</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function ($) {
            $('.btn-save').click(function () {
                var form = $('#add-user-form');
                if (form.valid()) {
                    showLoading('#panel-form', 'Guardando', 'Procesando datos, por favor espere.');
                    form.submit();
                }
            });
        });

    </script>
}
