@using Gosocket.Dian.Web.Models
@model UserLoginViewModel
@{
    ViewBag.Title = "Acceder";
    Layout = "~/Views/Shared/_LayoutNewLogin.cshtml";
}

<div class="login-wrapper no-flex">
    @Html.Partial("_confirmedLogin")
</div>