<div class="panel">
    <div class="panel-body padding-top-20">
        <div class="dian-alert dian-alert-danger">
            <i class="fa fa-info-circle" style="margin-right: 15px;"></i>
            <p>
                <strong>¡401 - Acceso restringido!</strong> <br>
                Usted no está autorizado para realizar esta acción.
            </p>
        </div>
    </div>
</div>