<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
		<section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
	</configSections>

	<appSettings>
		<!--Dian Prod environment-->
		<!--<add key="Environment" value="Prod" />
    <add key="GlobalRedis" value="gtpa-validator-redis-prod.redis.cache.windows.net:6380,password=TzgBNNITNLFwTSAS8PJsnDDhCf98Q+vNii6NQd5WAzk=,ssl=True,abortConnect=False" />
    <add key="GlobalStorage" value="DefaultEndpointsProtocol=https;AccountName=gtpastorageprod;AccountKey=MA56GRAObMBTAitESy+Q8hNkAOvU+VOhyr0KBhL9VBwbpIqDdBT6uAo6JOg8yuMpHECNt2EBHzXTa8LcYUjs8A==;EndpointSuffix=core.windows.net" />
    <add key="GetValidationsByTrackIdUrl" value="https://gtpa-function-doc-validator-prod.azurewebsites.net/api/GetValidationsByTrackId?code=tuQJcyVaOqqVN3FcKBVhm6SSGmdIUpvt8CC0MRSwEgQJQ3PQeha5Zw==" />
    <add key="GetAppResponseUrl" value="https://gtpa-function-commons-prod.azurewebsites.net/api/GetApplicationResponse?code=0Hcx2dnjTxU83fSgYQzUHagR9asYTpszu45Wzz/H5uDGXVJzP0anGw==" />
    <add key="KeyVaultCertificateName" value="PersonaJuridica" />
    <add key="CertificateThumbprint" value="BF6B7AE700D03E317C8792D93C4C3DD488C1A002" />-->

		<!--Dian Test environment-->
		<!--<add key="Environment" value="Test" />
    <add key="Slot" value="Live" />
    <add key="FunctionsUrl" value="https://gtpa-function-doc-validator-test.azurewebsites.net/" />
    <add key="GlobalStorage" value="DefaultEndpointsProtocol=https;AccountName=gtpastoragetest;AccountKey=yUB630nXPtzKcoSL8H/52UCzETQ0XLdRNjp/y8gYiUeZ8bH4TTftUzkesF6x6+DHpgu1RsNKa9d2TTYaBIJw4Q==;EndpointSuffix=core.windows.net" />
    <add key="Software" value="ose-webservices-test" />
    <add key="ApplicationResponseProcessUrl" value="https://gtpa-function-commons-test.azurewebsites.net/api/ApplicationResponseProcess?code=ocMBoXmOlNNffsNts7H4M4VMJiqoiAk3QBKhkRpkzIGWpEiQQ3SiQQ=="/>
    <add key="CheckIfDocumentValidationsIsFinishedUrl" value="https://gtpa-function-doc-validator-test.azurewebsites.net/api/CheckIfDocumentValidationsIsFinished?code=HZ0xmYqTNo2RlAEt9/7NiDoaqKknlRjEw6BoaWv9CB6p/jTC5sl06A==" />
    <add key="DownloadXmlUrl" value="https://gtpa-function-doc-validator-test.azurewebsites.net/api/DownloadXml?code=RrnXFtVj0ZIgJVgoUppytMM8FJWBdQ2xrIMCEID7rMeEc/rtMOZbWQ==" />

    <add key="GetValidationsByTrackIdUrl" value="https://gtpa-function-doc-validator-test.azurewebsites.net/api/GetValidationsByTrackId?code=g4PK7MUsrsoT4E0dviddgJ9qTTj9LSn4TEgT1jTYKiOGaNzYGdWKYw==" />
    <add key="ExportCertificateUrl" value="https://gtpa-function-commons-test.azurewebsites.net/api/ExportCertificate?code=A2QN/s2TPH2FTHajavb8h5KGYknf26Aua6QUuh5igXUAg3Fjl1qLsQ==" />
    <add key="GetXpathDataValuesUrl" value="https://gtpa-function-doc-validator-test.azurewebsites.net/api/GetXpathDataValues?code=iISdBakj0QUhDcloBs7J1sQ4g8jWJdM3wGjXCAFNlxbrzyKovmyTBw==" />
    <add key="GetMultipleXpathDataValuesUrl" value="https://gtpa-function-doc-validator-test.azurewebsites.net/api/GetMultipleXpathDataValues?code=GNX3tQiuXZ5Ok6cyGqzSjm/TcaO7jmVN7VMK8BmNsIeYr4q/jGQyHg==" />
    <add key="UploadXmlUrl" value="https://gtpa-function-doc-validator-test.azurewebsites.net/api/UploadXml?code=1Bb2KQ79W2sDKQ1VMag2wCKa119yfSfrfX3THwGKMKIsH7Qmp/zPEw==" />
    <add key="UploadMultipleXmlUrl" value="https://gtpa-function-doc-validator-test.azurewebsites.net/api/UploadMultipleXml?code=l6K4VV2Ba0QgN8aTm8pHq0Vp4fk6AuVXvK2vYf/otklATpi2oKu6aA==" />
    <add key="ValidateDocumentAsyncUrl" value="https://gtpa-function-doc-validator-test.azurewebsites.net/api/ValidateDocumentAsync?code=OJ9ndeKjrnrHUb1rDdgmKgySf05OoWJTNi5PwOVywXubnL7PrNfzNg==" />
    <add key="ValidateDocumentUrl" value="https://gtpa-function-doc-validator-test.azurewebsites.net/api/ValidateDocument?code=6geUagElMczp1nJt1mirlM5q5hs4p5YC7pZ8BXXeJB87I7aCqWOsAg==" />
    <add key="GetAppResponseUrl" value="https://gtpa-function-commons-test.azurewebsites.net/api/GetApplicationResponse?code=XZluU0hdWUVC98bqkWerZ6l2JcXd9nlMSLKIEN7P/SHr3ZRsvUaTGQ==" />
    <add key="GlobalRedis" value="gtpa-validator-redis-test.redis.cache.windows.net:6380,password=ghckdGfPqQOec7xvz8IUaBF6yObX4gcCdIWOc2TMFWo=,ssl=True,abortConnect=False" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="EventGridKey" value="8LsJnXyVytKAFjjyJfykHTIhxBKtf9y9s1pCrzs27tU=" />
    <add key="EventGridTopicEndpoint" value="https://gtpa-event-grid-topic-documents-test.eastus2-1.eventgrid.azure.net/api/events" />
    <add key="CertificateThumbprint" value="54FE08E4F49FD70EE195A7AD8968AA8F6687FFA6" />-->

		<!--Dian Hab environment-->
		<!--<add key="FunctionsUrl" value="https://gtpa-function-doc-validator-hab.azurewebsites.net/" />
    <add key="GlobalStorage" value="DefaultEndpointsProtocol=https;AccountName=gtpastoragehab;AccountKey=ggl5Op8HgWO7iLSCr6I9kSF7HegCCUF9iwUgk+9jtdeVTOhscHWYOs/Y/XqB63hzzn9fEdGhHF2Zwp7PllozXA==;EndpointSuffix=core.windows.net" />
    <add key="Software" value="ose-webservices-hab" />
    <add key="CheckIfDocumentValidationsIsFinishedUrl" value="https://gtpa-function-doc-validator-hab.azurewebsites.net/api/CheckIfDocumentValidationsIsFinished?code=BcG1naUtYBBz2Bo8tuaVkyI6eT/9vFTdq9woSODaXkRxeI8CVf6BZQ==" />
    <add key="DownloadXmlUrl" value="https://gtpa-function-doc-validator-hab.azurewebsites.net/api/DownloadXml?code=ZnKwOK92phHwseLG1vFbCGEjb6A9r4Xv6XXtaqH2rjPA0APFsS/e2g==" />

    <add key="KeyVaultCertificateName" value="PersonaJuridica" />

    <add key="GetValidationsByTrackIdUrl" value="https://gtpa-function-doc-validator-hab.azurewebsites.net/api/GetValidationsByTrackId?code=Juk8J6hDHzHh8BK4q25MaAE0xzCPU22KtbP9psoEtr3eUFVzXTICXg==" />
    <add key="ExportCertificateUrl" value="https://gtpa-function-commons-hab.azurewebsites.net/api/ExportCertificate?code=9NaYUvywGWoOayxzYTaJ9GFYnURQJ4/jJ0PCBI5fMEosewcpqa7sQw==" />
    <add key="GetXpathDataValuesUrl" value="https://gtpa-function-doc-validator-hab.azurewebsites.net/api/GetXpathDataValues?code=CVVa0vmVMu/1UXTmrrzwwBrErGBHEBujDscEaS6bgF1ObHWNn2jCAA==" />
    <add key="GetMultipleXpathDataValuesUrl" value="https://gtpa-function-doc-validator-hab.azurewebsites.net/api/GetMultipleXpathDataValues?code=IU1OI5hjPpaDf/hK01tQhxek2sooANOsZhSKzXh3pMWygJ3zqv8zMg==" />
    <add key="UploadXmlUrl" value="https://gtpa-function-doc-validator-hab.azurewebsites.net/api/UploadXml?code=xbSW9Tia42niR4UYcHliQP6GDOkfaJtIh27DGQVm9LA8hQkzytBAhQ==" />
    <add key="UploadMultipleXmlUrl" value="https://gtpa-function-doc-validator-hab.azurewebsites.net/api/UploadMultipleXml?code=fDaaZacvtzhxhpLBf8fvvC4BxdF2rrADNx3zDNNEObm08FkqC4Ex/Q==" />

    <add key="ValidateDocumentUrl" value="https://gtpa-function-doc-validator-hab.azurewebsites.net/api/ValidateDocument?code=2hlY0H43e779Gxg4HqwaP5tqBOL8EiMfjm7QDHVWPLms2d6EopdisQ==" />
    <add key="GetAppResponseUrl" value="https://gtpa-function-commons-hab.azurewebsites.net/api/GetApplicationResponse?code=rrchw9riECXwv/ah8IxQTda4Wt5DhR83oN0eNNJL18bcyODNah1OKA==" />
    <add key="GlobalRedis" value="gtpa-validator-redis-hab.redis.cache.windows.net:6380,password=TKsjyBGCVZmlpAjE8tWBKZNYtPFUctl7G5HkTHleOUk=,ssl=True,abortConnect=False" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="EventGridKey" value="jqocXSmU0Slb5TS7Q5bJMRuo7ijbdN+yb49ahwTc0DQ=" />
    <add key="EventGridTopicEndpoint" value="https://gtpa-event-grid-topic-documents-hab.eastus2-1.eventgrid.azure.net/api/events" />-->


		<!--Dian DevIndra environment-->
		<add key="Environment" value="Dev" />
		<add key="Slot" value="Live" />
		<add key="FunctionsUrl" value="https://gtpa-function-doc-validator-dev.azurewebsites.net/" />
		<add key="GlobalStorage" value="DefaultEndpointsProtocol=https;AccountName=gtpastoragedev;AccountKey=QM8DTuuHPnf/bktq3YVkx/U2rMSVEz0TAnjbYKw0rcO03yG9+bpo7JFOT67KnR8T0EBJPfJKrHLJAdg5hEGMrg==;EndpointSuffix=core.windows.net" />
		<add key="Software" value="ose-webservices-dev" />
		<add key="ApplicationResponseProcessUrl" value="https://gtpa-function-commons-dev.azurewebsites.net/api/ApplicationResponseProcess?code=lxZ5TyvnfDEMlnC3EsbY3B6JfnDatWtjFEN5rWwY4uedkgqbjDBcQg=="/>
		<add key="CheckIfDocumentValidationsIsFinishedUrl" value="https://gtpa-function-doc-validator-dev.azurewebsites.net/api/CheckIfDocumentValidationsIsFinished?code=8GGHaflmAggTGxT13XnaU35MN2Tx0WvaO7vsaeZH1BsqeCn7NS2FXA==" />
		<add key="DownloadXmlUrl" value="https://gtpa-function-doc-validator-dev.azurewebsites.net/api/DownloadXml?code=VWneAkVSg8kMkseLCJ3PQ9y6Mca1OaVplpALD3DQpUxhYMGa7elgVg==" />
		<add key="GetValidationsByTrackIdUrl" value="https://gtpa-function-doc-validator-dev.azurewebsites.net/api/GetValidationsByTrackId?code=rYICfrOXr469tL4j8FzWnazaFoxBR2FOL2ECH0ueWOCYSZDy6TsN0A==" />
		<add key="ExportCertificateUrl" value="https://gtpa-function-commons-dev.azurewebsites.net/api/ExportCertificate?code=mY5jetFWbHSbkWATB16p4KuTVqaawrQKjKOx0DlsS74qjULt7u8KaQ==" />
		<add key="GetXpathDataValuesUrl" value="https://gtpa-function-doc-validator-dev.azurewebsites.net/api/GetXpathDataValues?code=d5BEa8ywxsHX/dEn1JWcYQXiHNs2omDsMQGoUYSzfg8PbxkjYAibNg==" />
		<add key="GetMultipleXpathDataValuesUrl" value="https://gtpa-function-doc-validator-dev.azurewebsites.net/api/GetMultipleXpathDataValues?code=xu4/A0c09G4vLYIuXGjpWAjROyS2vjY1Z2M2FAXxxMqkVVinwkNyAA==" />
		<add key="UploadXmlUrl" value="https://gtpa-function-doc-validator-dev.azurewebsites.net/api/UploadXml?code=0d52zg6b/ZQFYJOxcVaSIKWEpAF6s7oUV9Lc/9Yenbc45OlbBtBNtA==" />
		<add key="UploadMultipleXmlUrl" value="https://gtpa-function-doc-validator-dev.azurewebsites.net/api/UploadMultipleXml?code=zQH/wpBaKCT3bNFlEgTbPRs7CwNewqpQX/b75Js2czRzW4z1Y8sdaQ==" />
		<!--<add key="ValidateDocumentAsyncUrl" value="https://gtpa-function-doc-validator-test.azurewebsites.net/api/ValidateDocumentAsync?code=OJ9ndeKjrnrHUb1rDdgmKgySf05OoWJTNi5PwOVywXubnL7PrNfzNg==" />-->
		<add key="ValidateDocumentUrl" value="https://gtpa-function-doc-validator-dev.azurewebsites.net/api/ValidateDocument?code=UWn/SHDXCMdOf3mI0Ucj5MFneaCKOayvuXcgiDoBdUj90Z0tvFa9LA==" />
		<add key="GetAppResponseUrl" value="https://gtpa-function-commons-dev.azurewebsites.net/api/GetApplicationResponse?code=MhB9Ed9nx34fSd6iQ4t1Aa32PI63EcjHUIoLf1IJaXeyuNzJEHK/Bw==" />
		<add key="GlobalRedis" value="gtpa-validator-redis-test.redis.cache.windows.net:6380,password=ghckdGfPqQOec7xvz8IUaBF6yObX4gcCdIWOc2TMFWo=,ssl=True,abortConnect=False" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="EventGridKey" value="8LsJnXyVytKAFjjyJfykHTIhxBKtf9y9s1pCrzs27tU=" />
		<add key="EventGridTopicEndpoint" value="https://gtpa-event-grid-topic-documents-dev.eastus2-1.eventgrid.azure.net/api/events" />
		<add key="CertificateThumbprint" value="BF6B7AE700D03E317C8792D93C4C3DD488C1A002" />

		<!--Dian Dev environment-->
		<!--<add key="Environment" value="Dev" />
    <add key="Slot" value="Live" />
    <add key="AuthFunctionsUrl" value="https://global-function-interopauth-sbx.azurewebsites.net/" />
    <add key="FunctionsUrl" value="https://global-function-docvalidator-sbx.azurewebsites.net/" />
    <add key="GlobalStorage" value="DefaultEndpointsProtocol=https;AccountName=globalgosocketstoragesbx;AccountKey=IrgP2b9LKUiB7ycWI6qFFmQY4QmT7VP+saXeDUx/8zD80vgTp/3boN+k21guda2QO/DCVa/fr40ZaIW9tTskeg==;EndpointSuffix=core.windows.net" />
    <add key="Software" value="ose-webservices-test" />
    <add key="CheckIfDocumentValidationsIsFinishedUrl" value="https://global-function-docvalidator-sbx.azurewebsites.net/api/CheckIfDocumentValidationsIsStarted?code=I59ECSGVbpMLExtVrgX2rztxmZTBaaK3tY6k1ymWRK/eommlFqJZ2A==" />
    <add key="DownloadXmlUrl" value="https://global-function-docvalidator-sbx.azurewebsites.net/api/DownloadXml?code=kSTvNZa67/ZL94n6JxiJ2tNPTD07SVWxGRR3zx53LcgS9LCdSYDq8Q==" />
    <add key="GetValidationsByTrackIdUrl" value="https://global-function-docvalidator-sbx.azurewebsites.net/api/GetValidationsByTrackId?code=8QQb66PDafM0vkLjL2uIXZLP81QMp9qEODKQLBvYRGC9cpPAyTyNVw==" />
    <add key="GetXpathDataValuesUrl" value="https://global-function-docvalidator-sbx.azurewebsites.net/api/GetXpathDataValues?code=tyW3skewKS1q4GuwaOj0PPj3mRHa5OiTum60LfOaHfEMQuLbvms73Q==" />
    <add key="UploadXmlUrl" value="https://global-function-docvalidator-sbx.azurewebsites.net/api/UploadXml?code=nc9Yd/VdcR6zZhDlSN0sG46rSFsumpz9lMg4inXvJH7jcsWfy7giyw==" />
    <add key="ApplicationResponseProcessUrl" value="https://colombia-function-dian-commons-sbx.azurewebsites.net/api/ApplicationResponseProcess?code=UyDAaaERer9FaZvHMuavolhVOPAqAW8XxP304eSsSfhugwDFSlAGAg==" />
    <add key="GlobalRedis" value="gtpavalidator.redis.cache.windows.net:6380,password=uFb3cTqRplNFXqaAcMLAZ6uaXfEn2lwx4QFQtxa4xKI=,ssl=True,abortConnect=False" />

    <add key="ValidateDocumentAsyncUrl" value="https://global-function-docvalidator-sbx.azurewebsites.net/api/ValidateDocumentAsync?code=5HckHJ2AC3R5xRY4sOy/6TsCkJpsA2MSi53bL6GjDZm2bn3w0//ULA==" />
    <add key="ValidateDocumentUrl" value="https://global-function-docvalidator-sbx.azurewebsites.net/api/ValidateDocument?code=BjnaIrZaaMDiu3aqZJiLUmIio9jpDaKrYU/OnIzl0Vu95lwadCJR9g==" />
    <add key="ValidateDocumentUrl" value="https://global-function-docvalidator-sbx.azurewebsites.net/api/ValidateDocument?code=BjnaIrZaaMDiu3aqZJiLUmIio9jpDaKrYU/OnIzl0Vu95lwadCJR9g==" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />-->

		<!--Dian dev environment-->
		<!--<add key="Environment" value="Dev" />
    <add key="Slot" value="Live" />
    <add key="FunctionsUrl" value="https://gtpa-function-doc-validator-dev.azurewebsites.net/" />
    <add key="GlobalStorage" value="DefaultEndpointsProtocol=https;AccountName=gtpastoragedev;AccountKey=QM8DTuuHPnf/bktq3YVkx/U2rMSVEz0TAnjbYKw0rcO03yG9+bpo7JFOT67KnR8T0EBJPfJKrHLJAdg5hEGMrg==;EndpointSuffix=core.windows.net" />
    <add key="Software" value="ose-webservices-dev" />
    <add key="CheckIfDocumentValidationsIsFinishedUrl" value="https://gtpa-function-doc-validator-dev.azurewebsites.net/api/CheckIfDocumentValidationsIsFinished?code=8GGHaflmAggTGxT13XnaU35MN2Tx0WvaO7vsaeZH1BsqeCn7NS2FXA==" />
    <add key="DownloadXmlUrl" value="https://gtpa-function-doc-validator-dev.azurewebsites.net/api/DownloadXml?code=VWneAkVSg8kMkseLCJ3PQ9y6Mca1OaVplpALD3DQpUxhYMGa7elgVg==" />
    <add key="GetValidationsByTrackIdUrl" value="https://gtpa-function-doc-validator-dev.azurewebsites.net/api/GetValidationsByTrackId?code=rYICfrOXr469tL4j8FzWnazaFoxBR2FOL2ECH0ueWOCYSZDy6TsN0A==" />
    <add key="GetXpathDataValuesUrl" value="https://gtpa-function-doc-validator-dev.azurewebsites.net/api/GetXpathDataValues?code=d5BEa8ywxsHX/dEn1JWcYQXiHNs2omDsMQGoUYSzfg8PbxkjYAibNg==" />
    <add key="GetMultipleXpathDataValuesUrl" value="https://gtpa-function-doc-validator-dev.azurewebsites.net/api/GetMultipleXpathDataValues?code=xu4/A0c09G4vLYIuXGjpWAjROyS2vjY1Z2M2FAXxxMqkVVinwkNyAA=="/>
    
    <add key="UploadXmlUrl" value="https://gtpa-function-doc-validator-dev.azurewebsites.net/api/UploadXml?code=0d52zg6b/ZQFYJOxcVaSIKWEpAF6s7oUV9Lc/9Yenbc45OlbBtBNtA==" />
    <add key="UploadMultipleXmlUrl" value="https://gtpa-function-doc-validator-dev.azurewebsites.net/api/UploadMultipleXml?code=zQH/wpBaKCT3bNFlEgTbPRs7CwNewqpQX/b75Js2czRzW4z1Y8sdaQ=="/>
    <add key="ApplicationResponseProcessUrl" value="https://gtpa-function-commons-dev.azurewebsites.net/api/ApplicationResponseProcess?code=5DjBLZrVU9wzVvK6J7cxvavjrunwdTGXCDrJjkFoclS0oQVRXSUTzQ==" />
    <add key="GlobalRedis" value="gtpa-validator-redis-dev.redis.cache.windows.net:6380,password=GEom8h155WzAkCoAc+hVAK9tQmL5daXsoKeGoFt6Khw=,ssl=True,abortConnect=False" />

    <add key="ValidateDocumentUrl" value="https://gtpa-function-doc-validator-dev.azurewebsites.net/api/ValidateDocument?code=UWn/SHDXCMdOf3mI0Ucj5MFneaCKOayvuXcgiDoBdUj90Z0tvFa9LA==" />

    <add key="GetAppResponseUrl" value="https://gtpa-function-commons-dev.azurewebsites.net/api/GetApplicationResponse?code=rIuQMmT512UnHXFHASaPZhrD8mTVDJN9obQumWg5mJQqHfYyKimyOA=="/>
    <add key="VaultUrl" value="https://gtpa-key-vault-test.vault.azure.net/"/>
    <add key="KeyVaultCertificateName" value="PersonaJuridica"/>
    <add key="ExportCertificateUrl" value="https://gtpa-function-commons-dev.azurewebsites.net/api/ExportCertificate?code=9yv1ugXoB6fdQqYaNfo/Il0/Wo/THcKT8NMQLgtYlEY2gkRE32VyxA=="/>
    <add key="EventGridKey" value="TTvpjtJG8aopmsM6/QHu2D1rX3277opSe7s34+1LeY4="/>
    <add key="EventGridTopicEndpoint" value="https://gtpa-event-grid-topic-documents-dev.eastus2-1.eventgrid.azure.net/api/events"/>-->

		<!--Gosocket environment-->
		<!--<add key="Environment" value="Dev" />
    <add key="Slot" value="Live" />
    <add key="AuthFunctionsUrl" value="https://global-function-interopauth-sbx.azurewebsites.net/" />
    <add key="FunctionsUrl" value="https://global-function-docvalidator-sbx.azurewebsites.net/" />
    <add key="GlobalStorage" value="DefaultEndpointsProtocol=https;AccountName=globalgosocketstoragesbx;AccountKey=IrgP2b9LKUiB7ycWI6qFFmQY4QmT7VP+saXeDUx/8zD80vgTp/3boN+k21guda2QO/DCVa/fr40ZaIW9tTskeg==;EndpointSuffix=core.windows.net" />
    <add key="Software" value="ose-webservices-test" />
    <add key="CheckIfDocumentValidationsIsFinishedUrl" value="https://global-function-docvalidator-sbx.azurewebsites.net/api/CheckIfDocumentValidationsIsStarted?code=I59ECSGVbpMLExtVrgX2rztxmZTBaaK3tY6k1ymWRK/eommlFqJZ2A==" />
    <add key="DownloadXmlUrl" value="https://global-function-docvalidator-sbx.azurewebsites.net/api/DownloadXml?code=kSTvNZa67/ZL94n6JxiJ2tNPTD07SVWxGRR3zx53LcgS9LCdSYDq8Q==" />
    <add key="GetValidationsByTrackIdUrl" value="https://global-function-docvalidator-sbx.azurewebsites.net/api/GetValidationsByTrackId?code=8QQb66PDafM0vkLjL2uIXZLP81QMp9qEODKQLBvYRGC9cpPAyTyNVw==" />
    <add key="GetXpathDataValuesUrl" value="https://global-function-docvalidator-sbx.azurewebsites.net/api/GetXpathDataValues?code=tyW3skewKS1q4GuwaOj0PPj3mRHa5OiTum60LfOaHfEMQuLbvms73Q==" />
    <add key="UploadXmlUrl" value="https://global-function-docvalidator-sbx.azurewebsites.net/api/UploadXml?code=nc9Yd/VdcR6zZhDlSN0sG46rSFsumpz9lMg4inXvJH7jcsWfy7giyw==" />
    <add key="ApplicationResponseProcessUrl" value="https://colombia-function-dian-commons-sbx.azurewebsites.net/api/ApplicationResponseProcess?code=UyDAaaERer9FaZvHMuavolhVOPAqAW8XxP304eSsSfhugwDFSlAGAg==" />
    <add key="GlobalRedis" value="gtpavalidator.redis.cache.windows.net:6380,password=uFb3cTqRplNFXqaAcMLAZ6uaXfEn2lwx4QFQtxa4xKI=,ssl=True,abortConnect=False" />

    <add key="ValidateDocumentAsyncUrl" value="https://global-function-docvalidator-sbx.azurewebsites.net/api/ValidateDocumentAsync?code=5HckHJ2AC3R5xRY4sOy/6TsCkJpsA2MSi53bL6GjDZm2bn3w0//ULA==" />
    <add key="ValidateDocumentUrl" value="https://global-function-docvalidator-sbx.azurewebsites.net/api/ValidateDocument?code=BjnaIrZaaMDiu3aqZJiLUmIio9jpDaKrYU/OnIzl0Vu95lwadCJR9g==" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />-->

	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.6.1" />
		<httpRuntime targetFramework="4.6.1" />
		<customErrors mode="On" defaultRedirect="Error/Index.html">

		</customErrors>
		<httpModules>
			<add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
		</httpModules>
	</system.web>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.WindowsAzure.Diagnostics" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.8.0.0" newVersion="2.8.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.19.8.16603" newVersion="3.19.8.16603" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.Platform" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.19.8.16603" newVersion="3.19.8.16603" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.9.1.0" newVersion="2.9.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.8.1.0" newVersion="1.8.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<system.identityModel>
		<identityConfiguration>
			<securityTokenHandlers>
				<securityTokenHandlerConfiguration>
					<!-- Para habilitar un validador de certificados del cliente se puede usar el siguiente punto de extensibilidad, esto permitiría validar los Thumprints de los certificadods Root drl client -->
					<issuerNameRegistry type="Gosocket.Dian.Web.Services.Validator.CustomIssuerNameRegistry, Gosocket.Dian.Web.Services" />
					<!-- Usando el validador de thumprints default, los certificados deben estar configurados en el config como sigue -->
					<!--<issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <trustedIssuers>
              <add thumbprint="C9D06B903522E0E2F0A432400ADB4EF0F4AE1DD1" name="CAAndesClaseII" />
            </trustedIssuers>
          </issuerNameRegistry>-->
				</securityTokenHandlerConfiguration>
			</securityTokenHandlers>
			<!-- Validador custom del certificado cliente, se puede cambiar por ChainTrust si se quiere usar la cadena y evitae el certificateValidator-->
			<certificateValidation certificateValidationMode="Custom">
				<certificateValidator type="Gosocket.Dian.Web.Services.Validator.CertificateValidator, Gosocket.Dian.Web.Services" />
			</certificateValidation>
			<!-- Si es necesario usar un Principal personalizado se puede usar este punto de extensibilidad -->
			<claimsAuthenticationManager type="Gosocket.Dian.Web.Services.Validator.CertificateClaimsAuthenticationManager, Gosocket.Dian.Web.Services" />
		</identityConfiguration>
	</system.identityModel>

	<system.serviceModel>
		<diagnostics>
			<messageLogging logEntireMessage="true" logMessagesAtServiceLevel="true" logMalformedMessages="true" logMessagesAtTransportLevel="true" />
		</diagnostics>
		<protocolMapping>
			<add binding="wsHttpBinding" scheme="https" />
		</protocolMapping>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!--<serviceThrottling maxConcurrentCalls = "64" maxConcurrentSessions = "400" maxConcurrentInstances= "464"/>-->
					<!-- To avoid disclosing metadata information, set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false" />
					<serviceCredentials useIdentityConfiguration="true">
						<serviceCertificate x509FindType="FindByThumbprint" storeLocation="CurrentUser" storeName="My" findValue="BF6B7AE700D03E317C8792D93C4C3DD488C1A002" />

						<!--Dian Test environment-->
						<!--<serviceCertificate x509FindType="FindByThumbprint" storeLocation="CurrentUser" storeName="My" findValue="54FE08E4F49FD70EE195A7AD8968AA8F6687FFA6" />-->
						<!--Dian DevIndra environment-->
						<!--<serviceCertificate x509FindType="FindByThumbprint" storeLocation="CurrentUser" storeName="My" findValue="54FE08E4F49FD70EE195A7AD8968AA8F6687FFA6" />-->
						<!--<clientCertificate>
              -->
						<!--<authentication certificateValidationMode="ChainTrust"/>-->
						<!--
              <authentication certificateValidationMode="Custom" customCertificateValidatorType="Gosocket.Dian.Web.Services.Validator.CertificateValidator, Gosocket.Dian.Web.Services" />
            </clientCertificate>-->
					</serviceCredentials>
					<serviceAuthorization principalPermissionMode="Always" />
					<!--<serviceTelemetry />-->
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<wsHttpBinding>
				<binding name="" maxBufferPoolSize="10485760" maxReceivedMessageSize="10485760" openTimeout="00:00:59" closeTimeout="00:00:59" receiveTimeout="00:00:59" sendTimeout="00:00:59">
					<readerQuotas maxStringContentLength="10485760" maxArrayLength="10485760" maxBytesPerRead="10485760" />
					<security mode="TransportWithMessageCredential">
						<message clientCredentialType="Certificate" establishSecurityContext="false" negotiateServiceCredential="false" algorithmSuite="Basic256Sha256Rsa15" />
					</security>
				</binding>

			</wsHttpBinding>
			<!--<basicHttpsBinding>
        <binding name="" maxBufferPoolSize="64000000" maxReceivedMessageSize="64000000" openTimeout="00:50:00" closeTimeout="00:50:00" receiveTimeout="00:50:00" sendTimeout="00:50:00">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpsBinding>-->
		</bindings>
		<services>
			<service name="Gosocket.Dian.Web.Services.WcfDianCustomerServices">
				<endpoint binding="wsHttpBinding" contract="Gosocket.Dian.Web.Services.IWcfDianCustomerServices" bindingNamespace="http://wcf.dian.colombia" />
				<!--<endpoint binding="basicHttpsBinding" contract="Gosocket.Dian.Web.Services.IWcfDianCustomerServices" address="basic" />-->
			</service>
		</services>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0" />
		<extensions>
			<behaviorExtensions>
				<add name="serviceTelemetry" type="Microsoft.ApplicationInsights.Wcf.ServiceTelemetryExtensionElement, Microsoft.AI.Wcf" />
				<add name="clientTelemetry" type="Microsoft.ApplicationInsights.Wcf.ClientTelemetryExtensionElement, Microsoft.AI.Wcf" />
			</behaviorExtensions>
		</extensions>
	</system.serviceModel>

	<system.webServer>
		<!--<httpErrors errorMode="Custom">
      <clear/>
      <error statusCode="404" path="/Filters/CustomHttpHandler" responseMode="ExecuteURL"/>
      <error statusCode="400" path="/Filters/CustomHttpHandler" responseMode="ExecuteURL"/>
    </httpErrors>
    <handlers>
      <add name="CustomHttpHandler" path="/Filters/CustomHttpHandler" verb="*" type="Gosocket.Dian.Web.Services.Filters.CustomHttpHandler, FrameworkAssembly"/>
    </handlers>-->
		<directoryBrowse enabled="true" />
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<remove name="TelemetryCorrelationHttpModule" />
			<add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
			<remove name="ApplicationInsightsWebTracking" />
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
		</modules>
	</system.webServer>

</configuration>