<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="Environment" value="Test" />
    <add key="Slot" value="Live" />
    <add key="FunctionsUrl" value="https://gtpa-function-doc-validator-test.azurewebsites.net/" />
    <add key="GlobalStorage" value="DefaultEndpointsProtocol=https;AccountName=gtpastoragetest;AccountKey=tB4VgsIdcCxLH8/oGW8QuWzHmo35V1ks3s1+Lb4pkwxnVu458LMW0NtxJ4BYD+nBI1NyhdH3PoVbhtjo+KSbag==;EndpointSuffix=core.windows.net" />
    <add key="Software" value="ose-webservices-test" />
    <add key="CheckIfDocumentValidationsIsFinishedUrl" value="https://gtpa-function-doc-validator-test.azurewebsites.net/api/CheckIfDocumentValidationsIsFinished?code=KAuKzq/z0UrnUC9YGxFMpa6XH/VImSRarrHaeJ6la1QbfmXEV5ctAQ==" />
    <add key="DownloadXmlUrl" value="https://gtpa-function-doc-validator-test.azurewebsites.net/api/DownloadXml?code=w3H7wh1VqF3QMggs8atXaoYia6UvTqW7xkjuoIchAyMFM09OCFXjXQ==" />

    <add key="GetValidationsByTrackIdUrl" value="https://gtpa-function-doc-validator-test.azurewebsites.net/api/GetValidationsByTrackId?code=OmeYDvss0wewmaGKHXpqDQH4XDGyP8wt4ieqhtrg2sntXh48GM9zvg==" />
    <add key="GetXpathDataValuesUrl" value="https://gtpa-function-doc-validator-test.azurewebsites.net/api/GetXpathDataValues?code=Fae1aCmZJPcEaPaC8gdVukLnnVp7RW8siiXyLlq9xdHbytUJshdfug==" />
    <add key="UploadXmlUrl" value="https://gtpa-function-doc-validator-test.azurewebsites.net/api/UploadXml?code=cH0sU7PVpmK27iQ8WX/oYaL1BYHnfyGa2oHngO6UozCGOdHccjTsKg==" />
    <add key="ValidateDocumentAsyncUrl" value="https://gtpa-function-doc-validator-test.azurewebsites.net/api/ValidateDocumentAsync?code=OKbD4GXxUgkBaHTnkbStaqKJr1FV5asrUV8PeGOMKgFs4f5IixugUA==" />
    <add key="ValidateDocumentUrl" value="https://gtpa-function-doc-validator-test.azurewebsites.net/api/ValidateDocument?code=CyFQ3t1J1bnlXtEoOQwDahEwRuAvasg9K19XOmLaOmzyu73as5BQ6A==" />
    <add key="GlobalRedis" value="gtpa-validator-redis-test.redis.cache.windows.net:6380,password=ghckdGfPqQOec7xvz8IUaBF6yObX4gcCdIWOc2TMFWo=,ssl=True,abortConnect=False" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>