
@{
    ViewBag.Title = "Eventos del Set de pruebas";
}


<div class="page-content margin-15">
    <div class="row title-container">
        <p class="title-view">
            @ViewBag.title
        </p>
        
    </div>
    <div>
        <div class="set-details-conventions">
            <span>Aceptadas requeridas</span><span class="badge custom-badget-blue">&nbsp;</span><span> Aceptadas</span> <span class="badge custom-badget-green">&nbsp;</span>
        </div>
    </div>
    <div class="row margin-horizontal-0 margin-top-10 test-set-dots">
        <div class="panel margin-bottom-0">
            <div class="panel-body padding-bottom-0">
                <div class="row">
                    <div class="col-sm-4 col-pr-50">
                        <ul class="list-unstyled-0 list-unstyled">
                        </ul>
                    </div>
                    <div class="col-sm-4 col-pr-50">
                        <ul class="list-unstyled-1 list-unstyled">
                        </ul>
                    </div>
                    <div class="col-sm-4 col-pr-50">
                        <ul class="list-unstyled-2 list-unstyled">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
