@model Gosocket.Dian.Web.Models.UserTableViewModel
@using Microsoft.AspNet.Identity;

<div class="table-responsive">

    <table class="simple-table documents-table table table-striped table-hover align-middle margin-bottom-0" data-int="0">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th class="text-center">Administrador</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr id="tr-@user.Id">
                    <td class="text-nowrap"><a>@user.Name</a></td>
                    <td class="text-nowrap"><a>@user.Email</a></td>
                    <td class="text-center">
                        @if (User.Identity.GetUserId() != user.Id)
                        {
                            <span class="add-tooltip" data-placement="left" data-original-title>
                                <input id="@user.Id" class="js-switchery admin-switch @(user.IsAdmin ? "admin-active" : "")" type="checkbox" />
                            </span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
