@using Gosocket.Dian.Domain.Common

@model Gosocket.Dian.Web.Models.OthersElectronicDocAssociatedViewModel

@if (Model.ContributorTypeId == (int)OtherDocElecContributorType.TechnologyProvider)
{
    <div class="text-left">
        <div class="form-group">
            <button type="button" class="btn btn-primary btn-radian-default" id="view-costumers">Ver mis clientes asociados</button>
        </div>
    </div>
}
@if (Model.Step == 3)
{
    <!--<div class="panel-footer text-right">
        <div class="form-group">-->
            @*<button type="button" class="btn btn-default btn-radian-default cancel-register">Cancelar registro</button>*@
            @*<button name="SubmitPrueba" class="btn btn-radian-success Set-Prueba">Set de pruebas</button>*@
        <!--</div>
    </div>-->
}

@*@Html.ActionLink("Configurar modo de operación", "SetupOperationMode", "OthersElectronicDocAssociated", new { Id = ViewBag.Id }, new { @class = "btn btn-default btn btn-radian-success" })*@